aside
	.block-logo
		.logo-src
			a(href="index.html")
				img(src="./assets/images/logo.png", alt="", srcset="")
		.button-close
			span.line
	.aside-list
		.title-aside Giao diện
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/home.svg", alt="", srcset="")
				h5 Trang Chủ
			ul.list-link
				li.link
					a(href="#") Banner
				li.link
					a(href="#") Sản phẩm
				li.link
					a(href="#") Nội dung
				li.link
					a(href="#") Slider sản phẩm hot
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/pages.svg", alt="", srcset="")
				h5 Các Trang
			ul.list-link
				li.link
					a(href="#") Giới thiệu
				li.link
					a(href="#") Tin tức
				li.link
					a(href="#") Liên hệ
				li.link
					a(href="#") Dịch vụ
				li.link
					a(href="#") Dach sách sản phẩm
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
				h5 Menu
			ul.list-link
				li.link
					a(href="#") Main Menu
				li.link
					a(href="#") Footer Menu
		.title-aside NỘI DUNG
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/post.svg", alt="", srcset="")
				h5 Bài viết
			ul.list-link
				li.link
					a(href="#") Trang chủ
				li.link
					a(href="#") Trang giới thiệu
				li.link
					a(href="#") Trang dịch vụ
				li.link
					a(href="#") Trang dịch vụ
				li.link
					a(href="#") Tiện ích
				li.link
					a(href="#") Tin tức
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/library.svg", alt="", srcset="")
				h5 Thư Viện
			ul.list-link
				li.link
					a(href="#") Hình ảnh
				li.link
					a(href="#") Video
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/partner.svg", alt="", srcset="")
				h5 Đối Tác
			ul.list-link
				li.link
					a(href="#") Thành viên
				li.link
					a(href="#") Khách hàng
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/question.svg", alt="", srcset="")
				h5 Câu hỏi thường gặp
			ul.list-link
				li.link
					a(href="#") Chỉnh sửa
		.title-aside SẢN PHẨM
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/products.svg", alt="", srcset="")
				h5 Quản lý sản phẩm
			ul.list-link
				li.link
					a(href="#") Chỉnh sửa
		.title-aside QUẢN LÝ TÀI KHOẢN
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/user.svg", alt="", srcset="")
				h5 Thành viên
			ul.list-link
				li.link
					a(href="user.html") Tài khoản quản trị
				li.link
					a(href="#") Quản lí quyền
		.title-aside THÔNG TIN LIÊN HỆ
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/maps.svg", alt="", srcset="")
				h5 Chi nhánh
			ul.list-link
				li.link
					a(href="#") Chỉnh sửa
		.title-aside PHẢN HỒI
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/mail.svg", alt="", srcset="")
				h5 Quản lý Subcribe
			ul.list-link
				li.link
					a(href="#") Kiểm tra
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/cart.svg", alt="", srcset="")
				h5 Quản lý đơn hàng
			ul.list-link
				li.link
					a(href="#") Kiểm tra
		.title-aside QUẢN LÝ LỊCH SỬ
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/history-login.svg", alt="", srcset="")
				h5 Quản lý đăng nhập
			ul.list-link
				li.link
					a(href="#") Kiểm tra
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/history-action.svg", alt="", srcset="")
				h5 Quản lý hoạt động
			ul.list-link
				li.link
					a(href="#") Kiểm tra
		.title-aside THIẾT LẬP CHUNG
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/setting.svg", alt="", srcset="")
				h5 Cài Đặt
			ul.list-link
				li.link
					a(href="#") Thiết lập
				li.link
					a(href="#") Tài nguyên
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/notification.svg", alt="", srcset="")
				h5 Thông báo
			ul.list-link
				li.link
					a(href="#") Thiết lập