aside
	.sidebar-background
	.block-logo
		.logo-src
			a(href="index.html")
				img(src="./assets/images/logo.png", alt="", srcset="")
		.button-close
			span.line
	.aside-list
		// Menu đa cấp
		.aside-item__multi-level(data-siteid="1")
			.name
				.icon
					img.svg(src="./assets/images/icons/document.svg", alt="", srcset="")
				h5.lcl.lcl-1 Document
			ul.list-link-level--1
				li.link-level--1
					.name-link-level--1
						.icon
							img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
						h5 Elements
					ul.list-link-level--2
						li.link-level--2
							a(href="buttons.html") Buttons
				li.link-level--1
					.name-link-level--1
						.icon
							img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
						h5 Form Widgets
					ul.list-link-level--2
						li.link-level--2
							a(href="input-selects.html") Input & Selects
						li.link-level--2
							a(href="checkbox.html") Checkbox
						li.link-level--2
							a(href="ckeditor-dropzone.html") CK - Editor & DZ
				li.link-level--1
					.name-link-level--1
						.icon
							img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
						h5 Pagination
					ul.list-link-level--2
						li.link-level--2
							a(href="/pagination.html") Template
				li.link-level--1
					.name-link-level--1
						.icon
							img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
						h5 Table
					ul.list-link-level--2
						li.link-level--2
							a(href="table.html") Template
				li.link-level--1
					.name-link-level--1
						.icon
							img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
						h5 Popup
					ul.list-link-level--2
						li.link-level--2
							a(href="popup.html") Popup Forms
				li.link-level--1
					.name-link-level--1
						.icon
							img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
						h5 Template Layout
					ul.list-link-level--2
						li.link-level--2
							a(href="login.html") Login
						li.link-level--2
							a(href="new-layout.html") Template
						li.link-level--2
							a(href="new-layout-detail.html") Template Detail
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/user.svg", alt="", srcset="")
				h5.lcl.lcl-1 Accounts
			ul.list-link
				li.link
					a(href="user-admin.html") List Accounts
				li.link
					a(href="role-admin.html") List Role