aside
	.sidebar-background
	.block-logo
		.logo-src
			a(href="index.html")
				img(src="./assets/images/logo.png", alt="", srcset="")
		.button-close
			span.line
	.aside-list
		// Menu đa cấp
		.aside-item__multi-level(data-siteid="1")
			.name
				.icon
					img.svg(src="./assets/images/icons/document.svg", alt="", srcset="")
				h5.lcl.lcl-1 Document
			ul.list-link-level--1
				li.link-level--1
					.name-link-level--1
						.icon
							img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
						h5 Elements
					ul.list-link-level--2
						li.link-level--2
							a(href="/buttons.html") Buttons