aside
	.sidebar-background
	.block-logo
		.logo-src
			a(href="index.html")
				img(src="./assets/images/logo.png", alt="", srcset="")
		.button-close
			span.line
	.aside-list
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
				h5 Menu
			ul.list-link
				li.link
					a(href="/menu.html") Thiết lập
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/post.svg", alt="", srcset="")
				h5 Nội dung
			ul.list-link
				li.link
					a(href="/list-post.html") Bài viết
				li.link
					a(href="/list-banner.html") Banner
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/library.svg", alt="", srcset="")
				h5 Thư Viện
			ul.list-link
				li.link
					a(href="#") Hình ảnh
				li.link
					a(href="#") Video
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/ecommerce.svg", alt="", srcset="")
				h5 Thương mại điện tử
			ul.list-link
				li.link
					a(href="/list-cart.html") Đơn đặt hàng
				li.link
					a(href="/list-sale.html") Quản lí giảm giá
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/products.svg", alt="", srcset="")
				h5 Quản lý sản phẩm
			ul.list-link
				li.link
					a(href="#") Danh sách sản phẩm
				li.link
					a(href="/category-product.html") Danh mục sản phẩm
				li.link
					a(href="#") Thuộc tính sản phẩm
				li.link
					a(href="#") Thương hiệu
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/user.svg", alt="", srcset="")
				h5 Thành viên
			ul.list-link
				li.link
					a(href="/user-admin.html") Tài khoản quản trị
				li.link
					a(href="/role-admin.html") Quản lí quyền
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/partner.svg", alt="", srcset="")
				h5 Đối Tác
			ul.list-link
				li.link
					a(href="/partner.html") Chỉnh sửa
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/maps.svg", alt="", srcset="")
				h5 Chi nhánh
			ul.list-link
				li.link
					a(href="/branch-offices.html") Chỉnh sửa
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/mail.svg", alt="", srcset="")
				h5 Phản hồi
			ul.list-link
				li.link
					a(href="#") Danh sách Subcribe
				li.link
					a(href="/list-contact.html") Danh sách tham gia
				li.link
					a(href="#") Yêu cầu báo giá
				li.link
					a(href="#") Đăng ký booking
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/history.svg", alt="", srcset="")
				h5 Quản lý lịch sử
			ul.list-link
				li.link
					a(href="/history.html") Kiểm tra
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/question.svg", alt="", srcset="")
				h5 Câu hỏi thường gặp
			ul.list-link
				li.link
					a(href="#") Chỉnh sửa
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/folder.svg", alt="", srcset="")
				h5 Quản Lý Thư Mục
			ul.list-link
				li.link
					a(href="#") Kiểm tra
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/document.svg", alt="", srcset="")
				h5 Document
			ul.list-link
				li.link
					a(href="/document.html") Xem
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/setting.svg", alt="", srcset="")
				h5 Cài Đặt
			ul.list-link
				li.link
					a(href="/setting.html") Thiết lập
				li.link
					a(href="/resources.html") Tài nguyên
		// Menu đa cấp
		.aside-item__multi-level(data-siteid="1")
			.name
				.icon
					img.svg(src="./assets/images/icons/pages.svg", alt="", srcset="")
				h5.lcl.lcl-1 Menu Multi Level - 01
			ul.list-link-level--1
				li.link-level--1
					.name-link-level--1
						.icon
							img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
						h5 Menu
					ul.list-link-level--2
						li.link-level--2
							a(href="/menu.html") Xem
				li.link-level--1
					.name-link-level--1
						.icon
							img.svg(src="./assets/images/icons/post.svg", alt="", srcset="")
						h5 Nội dung
					ul.list-link-level--2
						li.link-level--2
							a(href="/list-post.html") Bài viết
						li.link-level--2
							a(href="/list-banner.html") Banner
				li.link-level--1
					.name-link-level--1
						.icon
							img.svg(src="./assets/images/icons/user.svg", alt="", srcset="")
						h5 Thành viên
					ul.list-link-level--2
						li.link-level--2
							a(href="/user-admin.html") Tài khoản quản trị
						li.link-level--2
							a(href="/role-admin.html") Quản lí quyền
		// Menu đa cấp
		.aside-item__multi-level(data-siteid="2")
			.name
				.icon
					img.svg(src="./assets/images/icons/pages.svg", alt="", srcset="")
				h5.lcl.lcl-1 Menu Multi Level - 02
			ul.list-link-level--1
				li.link-level--1
					.name-link-level--1
						.icon
							img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
						h5 Menu
					ul.list-link-level--2
						li.link-level--2
							a(href="/menu.html") Xem
				li.link-level--1
					.name-link-level--1
						.icon
							img.svg(src="./assets/images/icons/post.svg", alt="", srcset="")
						h5 Nội dung
					ul.list-link-level--2
						li.link-level--2
							a(href="/list-post.html") Bài viết
						li.link-level--2
							a(href="/list-banner.html") Banner
				li.link-level--1
					.name-link-level--1
						.icon
							img.svg(src="./assets/images/icons/user.svg", alt="", srcset="")
						h5 Thành viên
					ul.list-link-level--2
						li.link-level--2
							a(href="/user-admin.html") Tài khoản quản trị
						li.link-level--2
							a(href="/role-admin.html") Quản lí quyền