aside
	.sidebar-background
	.block-logo
		.logo-src
			a(href="index.html")
				img(src="./assets/images/logo.png", alt="", srcset="")
		.button-close
			span.line
	.aside-list
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/document.svg", alt="", srcset="")
				h5.lcl.lcl-1 Document
			ul.list-link
				li.link
					.name
						.icon
							img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
						h5.lcl.lcl-1 Elements
					ul.list-link
						li.link
							a(href="buttons.html") Buttons
				li.link
					.name
						.icon
							img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
						h5.lcl.lcl-1 Form Widgets
					ul.list-link
						li.link
							a(href="input-selects.html") Input & Selects
						li.link
							a(href="checkbox.html") Checkbox
						li.link
							a(href="ckeditor-dropzone.html") CK - Editor & DZ
						li.link
							a(href="edit-html.html") Chỉnh sửa HTML
				li.link
					.name
						.icon
							img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
						h5.lcl.lcl-1 Pagination
					ul.list-link
						li.link
							a(href="pagination.html") Template
				li.link
					.name
						.icon
							img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
						h5.lcl.lcl-1 Table
					ul.list-link
						li.link
							a(href="table.html") Template
				li.link
					.name
						.icon
							img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
						h5.lcl.lcl-1 Popup
					ul.list-link
						li.link
							a(href="popup.html") Popup Forms
				li.link
					.name
						.icon
							img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
						h5.lcl.lcl-1 Template Layout
					ul.list-link
						li.link
							a(href="login.html") Login
						li.link
							a(href="new-layout.html") Template
						li.link
							a(href="new-layout-detail.html") Template Detail
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/user.svg", alt="", srcset="")
				h5.lcl.lcl-1 Accounts
			ul.list-link
				li.link
					a(href="user-admin.html") List Accounts
				li.link
					a(href="role-admin.html") List Role