aside
	.block-logo
		.logo-src
			a(href="#")
				img(src="./assets/images/logo.png", alt="", srcset="")
		.button-close
			span.line
	.aside-list
		.title-aside MAIN NAVIGATION
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/home.svg", alt="", srcset="")
				h5 Dashboards
			ul.list-link
				li.link
					a(href="#") link
				li.link
					a(href="#") link
				li.link
					a(href="#") link
				li.link
					a(href="#") link
				li.link
					a(href="#") link
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/home.svg", alt="", srcset="")
				h5 Pages
			ul.list-link
				li.link
					a(href="#") link
				li.link
					a(href="#") link
				li.link
					a(href="#") link
				li.link
					a(href="#") link
				li.link
					a(href="#") link
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/home.svg", alt="", srcset="")
				h5 Applications
			ul.list-link
				li.link
					a(href="#") link
				li.link
					a(href="#") link
				li.link
					a(href="#") link
				li.link
					a(href="#") link
				li.link
					a(href="#") link
		.title-aside BOOTSTRAP COMPONENTS
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/home.svg", alt="", srcset="")
				h5 Elements
			ul.list-link
				li.link
					a(href="#") link
				li.link
					a(href="#") link
				li.link
					a(href="#") link
				li.link
					a(href="#") link
				li.link
					a(href="#") link
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/home.svg", alt="", srcset="")
				h5 Components
			ul.list-link
				li.link
					a(href="#") link
				li.link
					a(href="#") link
				li.link
					a(href="#") link
				li.link
					a(href="#") link
				li.link
					a(href="#") link