aside
	.sidebar-background
	.block-logo
		.logo-src
			a(href="index.html")
				img(src="./assets/images/logo.png", alt="", srcset="")
		.button-close
			span.line
	.aside-list
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/home.svg", alt="", srcset="")
				h5 Trang Chủ
			ul.list-link
				li.link
					a(href="#") Banner
				li.link
					a(href="#") Sản phẩm
				li.link
					a(href="#") Nội dung
				li.link
					a(href="#") Slider sản phẩm hot
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/pages.svg", alt="", srcset="")
				h5 Các Trang
			ul.list-link
				li.link
					a(href="#") Giới thiệu
				li.link
					a(href="#") Tin tức
				li.link
					a(href="#") Liên hệ
				li.link
					a(href="#") Dịch vụ
				li.link
					a(href="#") Dach sách sản phẩm
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
				h5 Menu
			ul.list-link
				li.link
					a(href="menu.html") Thiết lập
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/post.svg", alt="", srcset="")
				h5 Bài viết
			ul.list-link
				li.link
					a(href="list-post.html") Chỉnh sửa
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/library.svg", alt="", srcset="")
				h5 Thư Viện
			ul.list-link
				li.link
					a(href="#") Hình ảnh
				li.link
					a(href="#") Video
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/partner.svg", alt="", srcset="")
				h5 Đối Tác
			ul.list-link
				li.link
					a(href="partner.html") Kiểm tra
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/question.svg", alt="", srcset="")
				h5 Câu hỏi thường gặp
			ul.list-link
				li.link
					a(href="#") Chỉnh sửa
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/products.svg", alt="", srcset="")
				h5 Quản lý sản phẩm
			ul.list-link
				li.link
					a(href="#") Chỉnh sửa
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/user.svg", alt="", srcset="")
				h5 Thành viên
			ul.list-link
				li.link
					a(href="user-admin.html") Tài khoản quản trị
				li.link
					a(href="role-admin.html") Quản lí quyền
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/maps.svg", alt="", srcset="")
				h5 Chi nhánh
			ul.list-link
				li.link
					a(href="#") Chỉnh sửa
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/mail.svg", alt="", srcset="")
				h5 Quản lý Subcribe
			ul.list-link
				li.link
					a(href="#") Kiểm tra
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/cart.svg", alt="", srcset="")
				h5 Quản lý đơn hàng
			ul.list-link
				li.link
					a(href="#") Kiểm tra
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/history.svg", alt="", srcset="")
				h5 Quản lý lịch sử
			ul.list-link
				li.link
					a(href="history.html") Kiểm tra
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/setting.svg", alt="", srcset="")
				h5 Cài Đặt
			ul.list-link
				li.link
					a(href="setting.html") Thiết lập
				li.link
					a(href="resources.html") Tài nguyên
		.aside-item
			.name
				.icon
					img.svg(src="./assets/images/icons/notification.svg", alt="", srcset="")
				h5 Thông báo
			ul.list-link
				li.link
					a(href="#") Thiết lập