header
	.header-right
		.accounts
			.avatar.item-click-dropdown
				figure
					img.ofc(src="./assets/images/icons/avatar-default.svg", alt="", srcset="")
			.basic-info-accounts
				.name Robert Murdoch
				.position Angular Developer
			.detail-info-accounts.content-dropdown
				.header-image
					.avatar
						figure
							img.ofc(src="./assets/images/icons/avatar-default.svg", alt="", srcset="")
					.basic-info-accounts
						.name Robert Murdoch
						.position Angular Developer
					.logout
						a(href="#").badge.badge-danger Đăng xuất
				.list-link
					.name-list TÀI KHOẢN
					.link
						a(href="#") Thông tin tài khoản
					.link
						a(href="#") Sửa thông tin tài khoản
					.link
						a(href="#") Cài đặt
					.name-list THIẾT LẬP
					.link
						a(href="#") Cài đặt chung
					.link
						a(href="#") Giao diện
		.view-website(data-toggle="tooltip" data-placement="bottom" title="Review")
			a(href="http://web4gsolutions.com/" target="_blank")
				img.svg(src="./assets/images/icons/eye.svg", alt="")