.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/products.svg", alt="", srcset="")
				.page-title-content
					h3 Danh mục sản phẩm
					p Tại đây các quản trị viên có thể quản lý các danh mục của sản phẩm bằng các chức năng cơ bản như: thêm, xóa, sửa.
			.page-title-actions
				a(href="create-category.html").btn.btn-success Thêm mới
	.row
		.block-table.col-lg-12.mt-4
			table.table.table-bordered.m-0
				thead
					tr
						th #
						th Tên danh mục
						th Danh mục cha
						th Đường dẫn
						th.text-center Sắp xếp
						th.text-center Số lượng sản phẩm
						th.text-center Tác vụ
				tbody
					-for(i=1;i<11;i++)
						tr
							td #{i}
							td BỘ DÀN
							td
							td /san-pham/bo-dan
							td.text-center 1
							td.text-center 0
							td
								.list-item.center
									// SỬA
									a.btn-custom-icon.item(href="create-post.html")
										.icon(data-toggle="tooltip" data-placement="bottom" title="Sửa")
											img.svg(src="./assets/images/icons/edit.svg", alt="", srcset="")
									// XÓA
									button.btn-custom-icon.item(type='button', data-toggle='modal', data-target='#popup_question')
										.icon(data-toggle="tooltip" data-placement="bottom" title="Xóa")
											img.svg(src="./assets/images/icons/delete.svg", alt="", srcset="")
			// BOX HIỆN LÊN CÂU HỎI
			#popup_question.modal.fade(aria-hidden='true')
				.modal-dialog.modal-dialog-centered(role='document')
					.modal-content
						.modal-header
							h5.modal-title Thông báo
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') ×
						.modal-body Bạn có chắc chắn xóa
						.modal-footer
							button.btn.btn-danger.btn-sm(type='button', data-dismiss='modal') Hủy
							button.btn.btn-success.btn-sm(type='button') Chấp nhận