.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/products.svg", alt="", srcset="")
				.page-title-content
					h3 Danh mục sản phẩm
					p Tại đây các quản trị viên có thể quản lý các danh mục của sản phẩm bằng các chức năng cơ bản như: thêm, xóa, sửa.
			.page-title-actions
				a(href="create-category.html").btn-custom.submit Thêm mới
	.row
		.block-table.col-lg-12.mt-4
			table.table.table-bordered.m-0
				thead
					tr
						th #
						th Tên danh mục
						th Danh mục cha
						th Đường dẫn
						th.text-center Sắp xếp
						th.text-center Số lượng sản phẩm
						th.text-center Tác vụ
				tbody
					-for(i=1;i<5;i++)
						tr
							td #{i}
							td BỘ DÀN
							td
							td /san-pham/bo-dan
							td.text-center 1
							td.text-center 0
							td
								.list-item.center
									// SỬA
									a.btn-custom-icon.item(href="create-post.html")
										.icon(data-toggle="tooltip" data-placement="bottom" title="Sửa")
											img.svg(src="./assets/images/icons/edit.svg", alt="", srcset="")
									// XÓA
									button.btn-popup.btn-custom-icon.item(fancybox="fancybox-notification" dataFieldName="categoryID" dataId="item-"+i)
										.icon(data-toggle="tooltip" data-placement="bottom" title="Xóa")
											img.svg(src="./assets/images/icons/delete.svg", alt="", srcset="")
			// BOX HIỆN LÊN CÂU HỎI
			.d-none
				.modal-POPUP.fancybox-content#fancybox-notification
					.title-modal
						h5 Thông báo
						p Web4gsolutions xin thông báo
					.content-modal
						p Bạn có chắc chắn xóa ?
					.list-button
						.item
							button.btn-custom.cancel(data-fancybox-close) Hủy
						.item
							button.btn-custom.submit.submit-delete(data-url="#") Chấp nhận
		include ../_global/_pagination.pug