.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/document.svg", alt="", srcset="")
				.page-title-content
					h3 Buttons
					p Tại đây các Developer Web4gsolutions có thể tham khảo các Buttons hiện có để dễ dàng tạo trang.
	.row
		.block-main.shadow-sm.col-lg-12
			.tab-container
				ul.list-tab
					li.item(toggle-for="item-1").acitve Buttons
				.tab-content
					// Components in Website
					.content(tab-id="item-1")
						.row
							.col-lg-6
								.card.shadow-sm
									.card-header
										.card-header-title
											h3 Buttons Customs
									.card-body
										button.btn-custom.submit Thêm
										button.btn-custom.cancel Xóa
										button.btn-custom.edit Sửa