.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/document.svg", alt="", srcset="")
				.page-title-content
					h3 Document
					p Tại đây các Developer Web4gsolutions có thể tham khảo các Components hiện có để dễ dàng tạo trang.
			.page-title-actions
				a(href="new-layout.html").btn-custom.submit XEM LAYOUT MẪU
	.row
		.block-main.shadow-sm.col-lg-12
			.tab-container
				ul.list-tab
					li.item(toggle-for="item-1").acitve Components
					li.item(toggle-for="item-2") Ck-Editor
					li.item(toggle-for="item-3") Table and Task in table
					li.item(toggle-for="item-4") Table Input
					li.item(toggle-for="item-5") Popup Normal (Can Custom)
					li.item(toggle-for="item-6") Drop-Zone
				.tab-content
					// Components in Website
					.content(tab-id="item-1")
						.block-form
							.form-row
								.form-group.col-lg-3
									label Select Option (Normal)
									.input-group.shadow-sm
										select.form-control
											option Select 1
											option Select 2
											option Select 3
								// XUỐNG DÒNG NHANH = div(class="w-100")
								.w-100
								.form-group.col-lg-3
									label Input Type Text
									.input-group.shadow-sm
										input.form-control(placeholder="Input Type Text")
								// XUỐNG DÒNG NHANH = div(class="w-100")
								.w-100
								.form-group.col-lg-3
									label Input Type Number
									.input-group.shadow-sm
										input.form-control(type='number' min="1" value="0")
								// XUỐNG DÒNG NHANH = div(class="w-100")
								.w-100
								.form-group.col-lg-3
									label Input Type Date
									.input-group.shadow-sm
										input.form-control.date-picker
								// XUỐNG DÒNG NHANH = div(class="w-100")
								.w-100
								.form-group.col-lg-3
									label Bắt lỗi
									.input-group.shadow-sm
										input.input-validation-error.form-control(placeholder="Hãy nhập sai")
									span.field-validation-error Sai mật khẩu
								// XUỐNG DÒNG NHANH = div(class="w-100")
								.w-100
								.form-group.col-lg-3
									label Select Url Page
									.input-group.shadow-sm
										select.form-control.chooseUrlPage
											option(value="/trangchu") Trang chủ
											option(value="/gioithieu")  Giới thiệu
											option(value="/lienhe") Liên hệ
								.form-group.col-lg-3
									label Input Type Link có Select Filter
									.input-group.shadow-sm
										.input-group-prepend.url-default
											span.input-group-text
										input.form-control(type='text' data-url="/trangchu")
								// XUỐNG DÒNG NHANH = div(class="w-100")
								.w-100
								.form-group.col-lg-3
									.input-custom
										h5.mb-3 Check Box Custom 1
										label._checkbox-custom.mb-0
											input.custom-control-input(data-url="#" IsActive='false' type='checkbox' readonly)
											span.custom-control-indicator
								// XUỐNG DÒNG NHANH = div(class="w-100")
								.w-100
								.form-group.col-lg-3
									label Multiple Selection
									.input-custom
										select._select-custom(name="" multiple)
											option(value="1" selected) 1
											option(value="1") 2
											option(value="1" selected) 3
											option(value="1") 4
								// XUỐNG DÒNG NHANH = div(class="w-100")
								.w-100
								.form-group.col-lg-3
									label Check Box Custom 2 (Màu mặc định)
									.input-custom
										._checkbox-normal
											label
												input(type="checkbox")
								.form-group.col-lg-3
									label Check Box Custom 2 (Màu Login)
									.input-custom
										._checkbox-normal.color-2
											label
												input(type="checkbox")
								// XUỐNG DÒNG NHANH = div(class="w-100")
								.w-100
									label Buttons
								.form-group.col-lg-3
									a(href="/").btn-custom.cancel Hủy
									button.btn-custom.submit Thêm
								// XUỐNG DÒNG NHANH = div(class="w-100")
								.w-100
								.form-group.col-lg-3
									label Upload file
									.input-custom
										.file-upload
											label.btn.btn-success.btn-custom Chọn file để upload
												input.input-file(type="file")
											span.file-upload-notice
											button.btn.btn-primary.btn-custom.btn-upload(data-url="/test") Upload
								// XUỐNG DÒNG NHANH = div(class="w-100")
								.w-100
								.form-group.text-right.col-lg-12
									label Thanh phân trang ( Mặc đinh năm bên góc tay phải )
									include ../_global/_pagination.pug
					// CK-Editor
					.content(tab-id="item-2")
						.block-form
							.form-group
								label Nội dung
								textarea.ck-editor#ckeditor-1(name="ckeditor-1")
					// BẢNG
					.content(tab-id="item-3")
						.seach.col-lg-4
							form(action="#" method="method")
								.form-group
									.form-input
										input(type="text" placeholder="Nhập từ khóa để tìm kiếm")
										button
											img.svg(src="./assets/images/icons/search.svg", alt="", srcset="")
						.filter.col-lg-12
							form(action="#" method="method")
								.form-row
									.col-lg-3.form-group
										label.text-center Select Option (Normal)
										.input-group.shadow-sm
											select.form-control
												option Select 1
												option Select 2
												option Select 3
									.col-lg-2
										.form-group.mb-0
											button.btn.btn-primary.btn-sm.shadow Lọc
						.block-table.col-lg-12.mt-4
							table.table.table-bordered.m-0
								thead
									tr
										th # (auto center)
										th textalign : left
										th.text-center textalign : center
										th.text-center Hình ảnh
										th.text-center Tag
										th.text-center Ngôn ngữ
										th.text-center Hiển thị
										th.text-center Tác vụ
								tbody
									-for(i=1;i<5;i++)
										tr
											td #{i}
											td(data-fileName="false", data-value="false", data-isReadonly="false") textalign : left
											td.text-center  textalign : center
											td.w-300px
												.block-images-big
													img.ofc(src="https://images.unsplash.com/photo-1562887085-cb16e9116582?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80", alt="", srcset="")
											td
												.list-item.center
													.item.badge.badge-primary.p-2 Admin
													.item.badge.badge-primary.p-2 Mod
													.item.badge.badge-primary.p-2 Guest
											td
												.language
													figure.shadow
														img.ofc(src="./assets/images/nation/"+i+".png", alt="")
											td.text-center
												.input-custom
													label._checkbox-custom
														input.custom-control-input(type='checkbox' checked="checked" onclick="return false")
														span.custom-control-indicator
											td
												.list-item.center
													// XEM CHI TIẾT
													a.btn-custom-icon.item(href="#")
														.icon(data-toggle="tooltip" data-placement="bottom" title="Xem chi tiết")
															img.svg(src="./assets/images/icons/eye.svg", alt="", srcset="")
													// SỬA ĐI LINK SANG TRANG SỬA
													a.btn-custom-icon.item(href="#")
														.icon(data-toggle="tooltip" data-placement="bottom" title="Sửa")
															img.svg(src="./assets/images/icons/edit.svg", alt="", srcset="")
													// THAY ĐỔI MẬT KHẨU (HIỆN POPUP)
													button.btn-popup.btn-custom-icon.item(fancybox="fancybox-change-pass" dataFieldName="testID" dataID="item-"+i)
														.icon(data-toggle="tooltip" data-placement="bottom" title="Đổi mật khẩu")
															img.svg(src="./assets/images/icons/user-setting.svg", alt="", srcset="")
													// XÓA (HIỆN POPUP)
													button.btn-popup.btn-custom-icon.item(fancybox="fancybox-notification" dataFieldName="testID" dataId="item-"+i)
														.icon(data-toggle="tooltip" data-placement="bottom" title="Xóa")
															img.svg(src="./assets/images/icons/delete.svg", alt="", srcset="")
					// TABLE INPUT
					.content(tab-id="item-4")
						.block-table.table-input.col-lg-12.mt-4
							table.table.table-bordered.m-0
								thead
									tr
										th #
										th.text-center Tên
										th.text-center Đường dẫn hình
										th.text-center Alt
										th.text-center Thứ tự
										th.text-center
											button.btn-custom.submit THÊM
								tbody
									-for(i=1;i<5;i++)
										tr
											td #{i}
											td
												.form-group
													.input-group.shadow-sm
														input.form-control(placeholder="Input Type Text")
											td
												.form-group
													.input-group.shadow-sm
														input.form-control(placeholder="Input Type Text")
											td
												.form-group
													.input-group.shadow-sm
														input.form-control(placeholder="Input Type Text")
											td
												.form-group
													.input-group.shadow-sm
														select.form-control
															option Select 1
															option Select 2
															option Select 3
											td.text-center
												// XÓA (HIỆN POPUP)
												button.btn-popup.btn-custom.cancel(fancybox="fancybox-notification" dataFieldName="testID" dataId="item-"+i) xóa
					// POPUP BÌNH THƯỜNG CÓ THỂ CUSTOM
					.content(tab-id="item-5")
						button.btn-popup.btn-custom.submit.item(data-fancybox data-src="#yourID") Popup
					// DROPZONE
					.content(tab-id="item-6")
						iframe(src="./dropzone.html",frameborder="0", width="100%" height="1000px")
		// POPUP BÌNH THƯỜNG (CÓ THỂ CUSTOM)
		.d-none
			.modal-POPUP.fancybox-content#yourID
				form(action="/" method="method")
					.title-modal
						h5 Name Form
						p Web4gsolutions xin thông báo
					.content-modal
						.form-group.row
							label.col-sm-5.col-form-label(for='staticEmail') Tài khoản
							.col-sm-7
								.input-group.input-group-sm
									input.form-control(type='text')
					.list-button
						.item
							button.btn-custom.cancel(data-fancybox-close) Hủy
						.item
							button.btn-custom.submit Cập nhật