.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/document.svg", alt="")
				.page-title-content
					h3 Chỉnh sửa HTML
					p Tại đây các Developer Web4gsolutions có thể chỉnh sửa HTML trực tiếp trên template