.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/document.svg", alt="")
				.page-title-content
					h3 Chỉnh sửa HTML
					p Tại đây các Developer Web4gsolutions có thể chỉnh sửa HTML trực tiếp trên template
	.row
		.block-main.shadow-sm.col-lg-12
			.tab-container
				.block-list-tab
					ul.list-tab
						li.item(toggle-for="item-1").acitve Sửa HTML
				.tab-content
					.content(tab-id="item-1")
						form#grapesjs-form
							.row
								.col-lg
									#grapesjs
										.block-1
											.container
												.introduce
													.block-title.mb-30px.wow.fadeInLeft(data-wow-delay='.2s')
														h3.tt-u.fw700.color-main Dụng cụ đo nhiệt độ và nhiệt kế cho mọi nhiệm vụ đo
													.description-category-product-level-2
														.ckeditor.desc-category-product-level-2-block-1
															p
																| Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.
															h5 Lorem Ipsum
															ul
																li
																	p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
																li
																	p Lorem Ipsum is simply dummy text of the printing and typesetting industry
																li
																	p Contrary to popular belief, Lorem Ipsum is not simply random text.
																li
																	p Lorem Ipsum is not simply random text.
												.list-category-product-level-2
													.block-title.line-left-50.mb-30px.wow.fadeInLeft(data-wow-delay='.4s')
														h3.tt-u.fw700.color-gray Dụng cụ đo nhiệt độ
													.row.list-item  
										// BLOCK 2 TRANG DANH MỤC SẢN PHẨM - CẤP 2
										.block-2
											.box-content
												.block-title.line-center-90.ta-c.wow.fadeInDown(data-wow-delay='.2s')
													h3.color-gray.tt-u bạn muốn nhiệt độ ở đâu ?
												.item.wow.fadeInUp(data-wow-delay='.2s')
													figure
														a(href='#')
															img.lazyload.blur-up(alt='alt', data-src='http://192.168.1.105/Content/resources/assets/icons/icons-category-product-level-2-block-2__01.svg')
														figcaption
															p.tt-u.ta-c.fw-700.color-gray.lcl.lcl-1
																a(href='#') Lorem Ipsum
														a(href='#')  
												.item.wow.fadeInUp(data-wow-delay='.2s')
													figure
														a(href='#')
															img.lazyload.blur-up(alt='alt', data-src='http://192.168.1.105/Content/resources/assets/icons/icons-category-product-level-2-block-2__02.svg')
														figcaption
															p.tt-u.ta-c.fw-700.color-gray.lcl.lcl-1
																a(href='#') Lorem Ipsum
														a(href='#')  
												.item.wow.fadeInUp(data-wow-delay='.2s')
													figure
														a(href='#')
															img.lazyload.blur-up(alt='alt', data-src='http://192.168.1.105/Content/resources/assets/icons/icons-category-product-level-2-block-2__03.svg')
														figcaption
															p.tt-u.ta-c.fw-700.color-gray.lcl.lcl-1
																a(href='#') Lorem Ipsum
														a(href='#')  
												ul.list-item
										// BLOCK 3 TRANG DANH MỤC SẢN PHẨM - CẤP 2
										.block-3
											.container
												.block-title.line-left-50.wow.fadeInLeft(data-wow-delay='.2s')
													h3.tt-u.fw-700.color-gray Dụng cụ đo nhiệt độ đang sử dụng
												.desc
													.ckeditor.desc-category-product-level-2-block-3
														p
															| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries. Lorem Ipsum is simply dummy text of the printing and typesetting industry typesetting industry .
														ul
															li
																p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
															li
																p Lorem Ipsum is simply dummy text of the printing and typesetting industry
															li
																p Contrary to popular belief, Lorem Ipsum is not simply random text.
															li
																p Lorem Ipsum is not simply random text.
										// BLOCK 4 TRANG DANH MỤC SẢN PHẨM - CẤP 2
										.block-4
											.image-content
												.content(data-setheight='')
													.ckeditor.desc-category-product-level-2-block-4
														h3 Lorem Ipsum is simply dummy text
														h4 Lorem Ipsum is simply dummy text
														p
															| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.The standard chunk of Lorem Ipsum.
														h4 Lorem Ipsum is simply dummy text
														p
															| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.The standard chunk of Lorem Ipsum.
												.image.ov-h(data-getheight='')
													img.ofcv.lazyload.blur-up(alt='', data-src='http://192.168.1.105/Content/resources/assets/images/image-content/1.png')
											.image-content
												.image.ov-h(data-getheight='')
													img.ofcv.lazyload.blur-up(alt='', data-src='http://192.168.1.105/Content/resources/assets/images/image-content/2.png')
												.content.mr-auto(data-setheight='')
													.ckeditor.desc-category-product-level-2-block-4
														h3 Lorem Ipsum is simply dummy text
														h4 Lorem Ipsum is simply dummy text
														p
															| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.The standard chunk of Lorem Ipsum.
														h4 Lorem Ipsum is simply dummy text
														p
															| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.The standard chunk of Lorem Ipsum.
									input#grapesjs-html(hidden type="text" name="html")
								.col-lg-auto
									button.btn.btn-success#grapesjs-btn-save Lưu trang