.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/document.svg", alt="", srcset="")
				.page-title-content
					h3 Pagination
					p Tại đây các Developer Web4gsolutions có thể tham khảo nút phân trang hiện có để dễ dàng tạo trang.
	.row
		.block-main.shadow-sm.col-lg-12
			.tab-container
				.block-list-tab
					ul.list-tab
						li.item(toggle-for="item-1").acitve Template
				.tab-content
					.content(tab-id="item-1")
						include ../_global/_pagination.pug
						code
							img.mt-25px(src="./assets/previewHTML/pagination.png", alt="", srcset="")