.main__inner.SEO
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/document.svg", alt="")
				.page-title-content
					h3 Thêm sản phẩm
					p Tại đây các Developer Web4gsolutions có thể do something?
	.row
		.block-main.shadow-sm.col-lg-12.mt-5
			.tab-container
				.block-list-tab
					ul.list-tab
						li.item(toggle-for="item-1").acitve SEO
				.tab-content
					.content(tab-id="item-1")
						.form-group
							label Meta Title *
							input.form-control.title(type='text')
						.form-group
							label Meta Image *
							input.form-control.image(type='text')
						.form-group
							label Meta Description
							input.form-control.desc(type='text')
						.form-group
							label Meta Keywords 
							input.form-control.key(type='text')
						.block-subTab.mt-5
							.tab-container
								.block-list-tab
									ul.list-tab
										li.item(subtab-toggle-for="item-1").acitve Desktop result
										li.item(subtab-toggle-for="item-2") Mobile result
										li.item(subtab-toggle-for="item-3") Facebook result
								.tab-content
									.content.desktop(sub-tab-id="item-1")
										div
											a(href="")
												h3.lcl.lcl-1 KEEP CALM & GET READY FOR ... SNA 
											a(href="")
												p.lcl.lcl-1 SeoTheTopseothetop.com
											div
												p.lcl.lcl-2.desc-subtab Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos amet voluptatibus, labore velit corporis explicabo ipsam adipisci sapiente quaerat laboriosam minima eveniet officia magni. Facilis qui et adipisci alias aperiam!
									.content.mobile(sub-tab-id="item-2")
										div.inner_mobile
											a(href="")
												h3.lcl.lcl-1 KEEP CALM & GET READY FOR ... SNA 
											a(href="")
												p.lcl.lcl-1 SeoTheTopseothetop.com
											.row
												.col-9
													p.desc-subtab Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos amet voluptatibus, labore velit corporis explicabo ipsam adipisci sapiente quaerat laboriosam minima eveniet officia magni. Facilis qui et adipisci alias aperiam!
												.col-3
													img(src="https://via.placeholder.com/150", alt="")
									.content.facebook(sub-tab-id="item-3")
										div.facebook.card
											img.card-img-top(src="https://via.placeholder.com/150x80", alt="")
											.card-body
												p.card-text.lcl.lcl-1 SeoTheTopseothetop.com
												a(href="")
													h3.lcl.lcl-1 KEEP CALM & GET READY FOR ... SNA
												p.card-text.lcl.lcl-1.desc-subtab Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque optio non officiis, dolores voluptate dolorum corrupti iusto ea commodi nemo nesciunt est aliquam quae, quas necessitatibus harum autem hic sequi?
										