.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/document.svg", alt="", srcset="")
				.page-title-content
					h3 Template Paper
					p Tại đây các Developer Web4gsolutions có thể tham khảo các theme giao diện hóa đơn điện tử
	.row
		.block-main.shadow-sm.col-lg-12
			.tab-container
				.block-list-tab
					ul.list-tab
						li.item(toggle-for="item-1").acitve Biên bảng giao hàng 1
						li.item(toggle-for="item-2") Biên bảng giao hàng 2
						li.item(toggle-for="item-3") Biên bảng giao hàng 3
						li.item(toggle-for="item-4") Booking 1
						li.item(toggle-for="item-5") Booking 2
						li.item(toggle-for="item-6") Booking 3
						li.item(toggle-for="item-7") Giấy ủy quyền
						li.item(toggle-for="item-8") HAWB
						li.item(toggle-for="item-9") HBL 01
						li.item(toggle-for="item-10") HBL 02
						li.item(toggle-for="item-11") Lệnh giao hàng 1
						li.item(toggle-for="item-12") Lệnh giao hàng 2
						li.item(toggle-for="item-13") Loading Confirmation 01
						li.item(toggle-for="item-14") Loading Confirmation 02
						li.item(toggle-for="item-15") Thông báo hàng đến 01
						li.item(toggle-for="item-16") Thông báo hàng đến 02
						li.item(toggle-for="item-17") Thông báo hàng đến 03
				.tab-content
					.content(tab-id="item-1")
						include ../../template-paper/docForm-bien-bang-giao-hang-01
					.content(tab-id="item-2")
						include ../../template-paper/docForm-bien-bang-giao-hang-02
					.content(tab-id="item-3")
						include ../../template-paper/docForm-bien-bang-giao-hang-03
					.content(tab-id="item-4")
						include ../../template-paper/docForm-booking-01
					.content(tab-id="item-5")
						include ../../template-paper/docForm-booking-02
					.content(tab-id="item-6")
						include ../../template-paper/docForm-booking-03
					.content(tab-id="item-7")
						include ../../template-paper/docForm-giay-uy-quyen
					.content(tab-id="item-8")
						include ../../template-paper/docForm-HAWB
					.content(tab-id="item-9")
						include ../../template-paper/docForm-HBL-01
					.content(tab-id="item-10")
						include ../../template-paper/docForm-HBL-02
					.content(tab-id="item-11")
						include ../../template-paper/docForm-lenh-giao-hang-01
					.content(tab-id="item-12")
						include ../../template-paper/docForm-lenh-giao-hang-02
					.content(tab-id="item-13")
						include ../../template-paper/docForm-loading-01
					.content(tab-id="item-14")
						include ../../template-paper/docForm-loading-01
					.content(tab-id="item-15")
						include ../../template-paper/docForm-thong-bao-hang-den-01
					.content(tab-id="item-16")
						include ../../template-paper/docForm-thong-bao-hang-den-02
					.content(tab-id="item-17")
						include ../../template-paper/docForm-thong-bao-hang-den-03