.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
				.page-title-content
					h3 Thêm Menu
					p Tại đây các quản trị viên có thể thêm các menu ở đây.
			.page-title-actions
	.row