.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
				.page-title-content
					h3 Quản lý các loại Menu
					p Tại đây các quản trị viên có thể quản lý các danh mục menu với các chức năng cơ bản: thêm, xóa, sửa.
			.page-title-actions
				a(href="create-menu.html").btn-custom.submit Thêm mới
	.row
		.seach.col-lg-4
			form(action="#" method="method")
				.form-group.mb-0
					.form-input
						input(type="text" placeholder="Nhập từ khóa để tìm kiếm")
						button
							img.svg(src="./assets/images/icons/search.svg", alt="", srcset="")
		.filter.col-lg-8
			form(action="#" method="method")
				.form-row
					.col-lg-5.form-group.mb-0
						label.text-center Ngôn ngữ
						select.form-control.shadow-sm
							option Vietnamese
							option English
							option Chinese
					.col-lg-5.form-group.mb-0
						label.text-center Loại Menu
						select.form-control.shadow-sm
							option Main Menu
							option Right Menu
							option Footer Menu
					.col-lg-2
						.form-group.mb-0
							button.btn.btn-primary.btn-sm.shadow Lọc
		.block-table.col-lg-12.mt-4
			table.table.table-bordered.m-0
				thead
					tr
						th #
						th Tên Menu
						th Danh mục cha ( nếu có )
						th Đường dẫn
						th.text-center Thứ tự
						th.text-center Ngôn ngữ
						th.text-center Tác vụ
				tbody
					-for(i=1;i<5;i++)
						tr
							td 1
							td Chuyển đổi đơn vị
							td Tiện ích
							td /tien-ich/chuyen-doi-don-vi
							td.text-center 4
							td
								.language
									figure.shadow
										img.ofc(src="./assets/images/nation/"+i+".png", alt="")
							td
								.list-item.center
									// SỬA
									a.btn-custom-icon.item(href="create-post.html")
										.icon(data-toggle="tooltip" data-placement="bottom" title="Sửa")
											img.svg(src="./assets/images/icons/edit.svg", alt="", srcset="")
									// XÓA
									button.btn-popup.btn-custom-icon.item(fancybox="fancybox-notification" dataFieldName="menuID" dataId="item-"+i)
										.icon(data-toggle="tooltip" data-placement="bottom" title="Xóa")
											img.svg(src="./assets/images/icons/delete.svg", alt="", srcset="")
			// BOX HIỆN LÊN CÂU HỎI
			.d-none
				.modal-POPUP.fancybox-content#fancybox-notification
					.title-modal
						h5 Thông báo
						p Web4gsolutions xin thông báo
					.content-modal
						p Bạn có chắc chắn xóa ?
					.list-button
						.item
							button.btn-custom.cancel(data-fancybox-close) Hủy
						.item
							button.btn-custom.submit.submit-delete(data-url="#") Chấp nhận
		include ../_global/_pagination.pug