.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/menu.svg", alt="", srcset="")
				.page-title-content
					h3 Quản lý các loại Menu
					p Tại đây các quản trị viên có thể quản lý các danh mục menu với các chức năng cơ bản: thêm, xóa, sửa.
			.page-title-actions
				a(href="create-menu.html").btn-custom.submit Thêm mới
	.row
		.block-table.col-lg-12
			.filter
				form(action="#" method="method")
					.form-row
						.col-lg-3.form-group
							label Hiển thị
							.input-group.shadow-sm
								select.form-control
									option 10
									option 15
									option 20
									option 30
									option 40
									option Tất cả
						.col-lg-3.form-group
							label Danh mục
							.input-group.shadow-sm
								select.form-control
									option Chính
									option Giới thiệu
									option Dịch vụ
									option Tiện ích
									option Tin tức
						.col-lg-3.form-group
							label Tìm kiếm
							.input-group.shadow-sm
								input.form-control(placeholder="Tìm kiếm")
					button.btn.btn-primary.btn-sm.shadow Xác nhận
			table.table.table-bordered.table-striped
				thead
					tr
						th #
						th Tên Menu
						th Danh mục cha ( nếu có )
						th Đường dẫn
						th.text-center Thứ tự
						th.text-center Ngôn ngữ
						th.text-center Tác vụ
				tbody
					-for(i=1;i<5;i++)
						tr
							td 1
							td Chuyển đổi đơn vị
							td Tiện ích
							td /tien-ich/chuyen-doi-don-vi
							td.text-center 4
							td
								.language
									figure.shadow
										img.ofc(src="./assets/images/nation/"+i+".png", alt="")
							td
								.list-item.center
									// SỬA
									a.btn-custom-icon.item(href="create-post.html")
										.icon(data-toggle="tooltip" data-placement="bottom" title="Sửa")
											img.svg(src="./assets/images/icons/edit.svg", alt="", srcset="")
									// XÓA
									button.btn-popup.btn-custom-icon.item(fancybox="fancybox-notification" dataFieldName="menuID" dataId="item-"+i dataUrl="#")
										.icon(data-toggle="tooltip" data-placement="bottom" title="Xóa")
											img.svg(src="./assets/images/icons/delete.svg", alt="", srcset="")
			include ../_global/_pagination.pug