.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/setting.svg", alt="", srcset="")
				.page-title-content
					h3 Quản lý Resources
					p Tại đây các quản trị viên có thể chỉnh sửa các tài nguyên, từ khóa của website
	.row
		.block-table.col-lg-12.mt-4
			table.table.table-bordered.m-0
				thead
					tr
						th #
						th Từ khóa
						th Giá trị
						th.text-center Tác vụ
				tbody
					-for(i=1;i<5;i++)
						tr
							td #{i}
							td Subscribe_error
							td Email đã được đăng ký!
							td
								.list-item.center
									// SỬA
									button.btn-popup.btn-custom-icon.item
										.icon(data-toggle="tooltip" data-placement="bottom" title="Chỉnh sửa")
											img.svg(src="./assets/images/icons/edit.svg", alt="", srcset="")
		include ../_global/_pagination.pug