.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/setting.svg", alt="", srcset="")
				.page-title-content
					h3 Cài đặt chung
					p Tại đây các quản trị viên có thể chỉnh sửa và cài đặt chung cho website của mình
	.row
		.block-table.col-lg-12.mt-4
			table.table.table-bordered.m-0
				thead
					tr
						th #
						th Từ khóa
						th Giá trị
						th.text-center Tác vụ
				tbody
					-for(i=1;i<5;i++)
						tr
							td #{i}
							td SmtpServer
							td mail.npvexpress.com
							td
								.list-item.center
									// SỬA
									button.btn-popup.btn-custom-icon.item(fancybox="fancybox-form-submit" dataFieldName="settingID" dataID="item-"+i)
										.icon(data-toggle="tooltip" data-placement="bottom" title="Chỉnh sửa")
											img.svg(src="./assets/images/icons/edit.svg", alt="", srcset="")
			// BOX FORM HIỆN LÊN
			.d-none
				.modal-POPUP.fancybox-content#fancybox-form-submit
					.title-modal
						h5 Chỉnh sửa cài đặt
						p Web4gsolutions xin thông báo
					.content-modal
						form(action="#" method="method")
							.form-group.row
								label.col-sm-5.col-form-label Từ khóa
								.col-sm-7
									.input-group.input-group-sm
										input.form-control-plaintext(type='text', readonly='', value='SmtpServer')
							.form-group.row
								label.col-sm-5.col-form-label Giá trị
								.col-sm-7
									.input-group.input-group-sm
										input#settingChange.form-control(type='text')
					.list-button
						.item
							button.btn-custom.cancel(data-fancybox-close) Hủy
						.item
							button.btn-custom.submit.submit-change-setting(data-url="#") Cập nhật
		include ../_global/_pagination.pug