.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/ecommerce.svg", alt="", srcset="")
				.page-title-content
					h3 Chi tiết đơn hàng
					p Tại đây các quản trị viên có thể xem chi tiết đơn hàng.