.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/ecommerce.svg", alt="", srcset="")
				.page-title-content
					h3 Tạo mã giảm giá
					p Tại đây các quản trị viên có thể quản lý các mã giảm giá trên Website với các chức năng cơ bản: thêm, xóa, sửa.
			.page-title-actions