.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/ecommerce.svg", alt="", srcset="")
				.page-title-content
					h3 Danh sách các mã giảm giá
					p Tại đây các quản trị viên có thể quản lý các mã giảm giá với bằng các chức năng cơ bảng: thêm, xóa, sửa.
			.page-title-actions
				a(href="create-sale.html").btn.btn-success Thêm mới