.statistical {
	.list-statistical {
		margin-bottom: -1rem;

		.item {
			cursor     : pointer;
			display    : flex;
			align-items: center;

			background-color: #ffffff;
			border          : 1px solid rgba(26, 54, 126, 0.125);
			border-radius   : 10px;
			padding         : 25px;
			transition      : .5s all ease-in-out;

			.icon {
				position     : relative;
				flex         : 0 0 60px;
				max-width    : 60px;
				height       : 60px;
				border-radius: 50%;
				overflow     : hidden;

				svg {
					position : absolute;
					top      : 50%;
					left     : 50%;
					transform: translate(-50%, -50%);
					width    : 40px;
					height   : 40px;

					path {
						fill: #ffffffad;
					}
				}
			}

			.count {
				flex-basis  : 0;
				flex-grow   : 1;
				padding-left: 30px;
				max-width   : 100%;

				.item-count {
					margin-bottom: 5px;

					&:last-child {
						margin-bottom: 0;
					}

					h5 {
						display       : inline-block;
						min-width     : 200px;
						font-size     : 14px;
						color         : rgba($color: #000000, $alpha: .6);
						text-transform: uppercase;
					}

					span {
						font-weight : 700;
						padding-left: 30px;
						font-size   : 20px;
						color       : rgba($color: #000000, $alpha: 1.0);
					}
				}
			}

			&:hover {
				box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .3) !important;
			}
		}
	}

	@media (max-width: 1440px) {
		.list-statistical {
			.item {
				.count {
					.item-count {
						h5 {
							min-width: 100px;
						}
					}
				}
			}
		}
	}
}

.history {
	.list-history {
		width   : 100%;
		position: relative;
		padding : 25px 0;

		&:after {
			content      : '';
			position     : absolute;
			top          : 0;
			left         : 10px;
			height       : 100%;
			width        : 5px;
			border-radius: 5px;
			background   : #e9ecef;
		}

		.item {
			position     : relative;
			margin-bottom: 35px;

			.circle {
				cursor       : pointer;
				display      : inline-block;
				position     : absolute;
				width        : 20px;
				height       : 20px;
				top          : 5px;
				left         : 2px;
				border-radius: 50%;
				z-index      : 1;

				&:after {
					content      : '';
					background   : #ffffff;
					position     : absolute;
					top          : 50%;
					left         : 50%;
					width        : 10px;
					height       : 10px;
					border-radius: 50%;
					transform    : translate(-50%, -50%);
				}
			}

			.action-content {
				position   : relative;
				margin-left: 35px;

				h5 {
					font-size    : 14px;
					margin-bottom: 5px;

					span {
						font-weight   : 700;
						text-transform: capitalize;
						padding-left  : 10px;
					}
				}

				p {
					font-size  : 12px;
					line-height: 20px;

					span {
						font-weight : 700;
						padding-left: 10px;
					}
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}