.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/post.svg", alt="", srcset="")
				.page-title-content
					h3 Thêm Banner
					p Tại đây các quản trị viên có thể thêm Banner cho website.
	.row
		.block-main.shadow-sm.col-lg-12
			.tab-container
				ul.list-tab
					li.item(toggle-for="item-1").acitve Nội dung bài viết
					li.item(toggle-for="item-2") Hình ảnh
				.tab-content
					.content(tab-id="item-1")
						.block-form
							form(action="list-post.html" method="method")
								.form-row
									.form-group.col-lg-3
										label Vị trí hiển thị *
										.input-group.shadow-sm
											select.form-control
												option Bên phải - Trang chủ
												option Giữ - Trang chủ
												option Trang giới thiệu
									.form-group.col-lg-3
										label Tiêu đề Banner *
										.input-group.shadow-sm
											input.form-control(placeholder="Nhập tên tiêu đề")
									.form-group.col-lg-3
										label Hình Banner
										.input-group.shadow-sm
											input.form-control(placeholder="Nhập dường dẫn hình ảnh")
									.form-group.col-lg-3
										label Link liên kết
										.input-group.shadow-sm
											input.form-control(type='text' placeholder="Nhập liên liên kết")
									.form-group.col-lg-3
										label Thứ tự
										.input-group.shadow-sm
											input.form-control(type='number' min="1" value="0")
									.form-group.col-lg-12
										.input-custom.d-flex.align-items-end
											h5 Hiển thị
											label._checkbox-custom.mb-0
												input.custom-control-input(type='checkbox' readonly)
												span.custom-control-indicator
									.form-group.col-lg-12
										label Nội dung
										textarea.ck-editor#ckeditor-1(name="ckeditor-1")
									.form-group.col-lg-2
										a(href="list-banner.html").btn-custom.cancel Hủy
										button.btn-custom.submit Thêm
					.content(tab-id="item-2")
						iframe(src="./dropzone.html",frameborder="0", width="100%" height="1000px")