.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/post.svg", alt="", srcset="")
				.page-title-content
					h3 Tạo bài viết
					p Tại đây các quản trị viên có thể quản lý các bài viết trên Website với các chức năng cơ bản: thêm, xóa, sửa.
	.row
		.block-main.shadow-sm.col-lg-12
			.tab-container
				ul.list-tab
					li.item(toggle-for="item-1").acitve Nội dung bài viết
					li.item(toggle-for="item-2") SEO bài viết
					li.item(toggle-for="item-3") Hình ảnh
				.tab-content
					form(action="list-post.html" method="method")
						.content(tab-id="item-1")
							.block-form
								.form-row
									.form-group.col-lg-3
										label Ngôn ngữ
										.input-group.shadow-sm
											select.form-control
												option Vietnamese
												option English
												option Chinese
									.form-group.col-lg-3
										label Danh mục
										.input-group.shadow-sm
											select.form-control.chooseUrlPage
												option(data-url="/trangchu") Trang chủ
												option(selected data-url="/gioithieu") Giới thiệu
												option(data-url="/lienhe") Liên hệ
									.form-group.col-lg-3
										label Tên tiêu đề bài viết *
										.input-group.shadow-sm
											input.form-control(placeholder="Nhập tên tiêu đề")
									.form-group.col-lg-3
										label Đường dẫn
										.input-group.shadow-sm
											.input-group-prepend.url-default
												span.input-group-text
											input.form-control(type='text')
									.form-group.col-lg-3
										label Ảnh đại diện bài viết
										.input-group.shadow-sm
											input.form-control(placeholder="Nhập dường dẫn hình ảnh")
									.form-group.col-lg-3
										label Ngày đăng
										.input-group.shadow-sm
											input.form-control.date-picker
									.form-group.col-lg-12
										.input-custom.d-flex.align-items-end
											h5 Hiển thị
											label._checkbox-custom.mb-0
												input.custom-control-input(type='checkbox' readonly)
												span.custom-control-indicator
										label.opacity-0 None
										.input-custom.d-flex.align-items-end
											h5 Nổi bật
											label._checkbox-custom.mb-0
												input.custom-control-input(type='checkbox' readonly)
												span.custom-control-indicator
									.form-group.col-lg-12
										label Mô tả
										.input-group.shadow-sm
											textarea.form-control(rows='5')
									.form-group.col-lg-12
										label Nội dung
										textarea.ck-editor#ckeditor-1(name="ckeditor-1")
									.form-group.col-lg-2
										a(href="/").btn-custom.cancel Hủy
										button.btn-custom.submit Thêm
						.content(tab-id="item-2")
							.block-form
								.form-row
									.form-group.col-lg-3
										label Meta Title *
										.input-group.shadow-sm
											input.form-control(placeholder="Nhập dữ liệu")
									.form-group.col-lg-3
										label Meta Description *
										.input-group.shadow-sm
											input.form-control(placeholder="Nhập dữ liệu")
									.form-group.col-lg-3
										label Meta Keywords *
										.input-group.shadow-sm
											input.form-control(placeholder="Nhập dữ liệu")
								.form-row
									.form-group.col-lg-1
										label.opacity-0 None
										button.btn.btn-success.btn-sm.w-100.shadow Xác nhận
					.content(tab-id="item-3")
						iframe(src="./dropzone.html",frameborder="0", width="100%" height="1000px")