.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/user-plus.svg", alt="", srcset="")
				.page-title-content
					h3 Tạo bộ quyền
					p Tại đây các quản trị viên có thể thêm tài khoản mới cho quản trị viên khác và chọn bộ quyền phù hợp với từng nhóm quản trị viên.
			.page-title-actions
	.row
		.block-main.shadow-sm.col-lg-12
			.block-form
				form(action="#" method="method")
					.form-row
						.form-group.col-lg-3
							label Tên nhóm *
							.input-group.shadow-sm
								input.form-control(placeholder="Nhập tên của bộ quyền")
					.form-row
						.form-group.col-lg-12
							label Mô tả
							.input-group
								textarea.form-control(rows='3' placeholder="Nhập mô tả về bộ quyền")