.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/user-plus.svg", alt="", srcset="")
				.page-title-content
					h3 Tạo bộ quyền
					p Tại đây các quản trị viên có thể thêm tài khoản mới cho quản trị viên khác và chọn bộ quyền phù hợp với từng nhóm quản trị viên.
			.page-title-actions
	.row
		.block-main.shadow-sm.col-lg-12
			form(action="#" method="method")
				.block-form
						.form-row
							.form-group.col-lg-3
								label Tên nhóm *
								.input-group.shadow-sm
									input.form-control(placeholder="Nhập tên của bộ quyền")
						.form-row
							.form-group.col-lg-12
								label Mô tả
								.input-group
									textarea.form-control(rows='3' placeholder="Nhập mô tả về bộ quyền")
						.form-row
							.form-group.col-lg-3
								a(href="/").btn-custom.cancel Hủy
								button.btn-custom.submit Thêm
				.block-table
					table.table.table-bordered.m-0
						thead
							tr
								th.text-center Quyền
								th.text-center Tất cả
								th.text-center Xem
								th.text-center Thêm
								th.text-center Sửa
								th.text-center Xóa
						tbody.table-multiple-checkbox
							tr.role-row
								td(colspan="6").bold.left CMS
							tr.role-row
								td.left Quản lý Danh sách đăng nhập của users
								td
									.input-custom
										._checkbox-normal.color-2.m-auto
											label
												input.check-all(type="checkbox")
								td
									.input-custom.m-auto
										._checkbox-normal.m-auto
											label
												input.view(type="checkbox")
								td
									.input-custom.m-auto
										._checkbox-normal.m-auto
											label
												input.add(type="checkbox")
								td
									.input-custom.m-auto
										._checkbox-normal.m-auto
											label
												input.edit(type="checkbox")
								td
									.input-custom.m-auto
										._checkbox-normal.m-auto
											label
												input.delete(type="checkbox")
							tr.role-row
								td.left Quản lý Giới thiệu
								td
									.input-custom
										._checkbox-normal.color-2.m-auto
											label
												input.check-all(type="checkbox")
								td
									.input-custom.m-auto
										._checkbox-normal.m-auto
											label
												input.view(type="checkbox")
								td
									.input-custom.m-auto
										._checkbox-normal.m-auto
											label
												input.add(type="checkbox")
								td
									.input-custom.m-auto
										._checkbox-normal.m-auto
											label
												input.edit(type="checkbox")
								td
									.input-custom.m-auto
										._checkbox-normal.m-auto
											label
												input.delete(type="checkbox")
							tr.role-row
								td(colspan="6").bold.left Thương mại điện tử
							tr.role-row
								td.left Quản lý Giảm giá
								td
									.input-custom
										._checkbox-normal.color-2.m-auto
											label
												input.check-all(type="checkbox")
								td
									.input-custom.m-auto
										._checkbox-normal.m-auto
											label
												input.view(type="checkbox")
								td
									.input-custom.m-auto
										._checkbox-normal.m-auto
											label
												input.add(type="checkbox")
								td
									.input-custom.m-auto
										._checkbox-normal.m-auto
											label
												input.edit(type="checkbox" checked)
								td
									.input-custom.m-auto
										._checkbox-normal.m-auto
											label
												input.delete(type="checkbox")
							tr.role-row
								td.left Quản lý Thuộc tính sản phẩm
								td
									.input-custom
										._checkbox-normal.color-2.m-auto
											label
												input.check-all(type="checkbox")
								td
									.input-custom.m-auto
										._checkbox-normal.m-auto
											label
												input.view(type="checkbox")
								td
									.input-custom.m-auto
										._checkbox-normal.m-auto
											label
												input.add(type="checkbox")
								td
									.input-custom.m-auto
										._checkbox-normal.m-auto
											label
												input.edit(type="checkbox")
								td
									.input-custom.m-auto
										._checkbox-normal.m-auto
											label
												input.delete(type="checkbox")