.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/user-plus.svg", alt="", srcset="")
				.page-title-content
					h3 Tạo bộ quyền
					p Tại đây các quản trị viên có thể thêm tài khoản mới cho quản trị viên khác và chọn bộ quyền phù hợp với từng nhóm quản trị viên.
			.page-title-actions
	.row
		.block-main.shadow-sm.col-lg-12
			form(action="#" method="method")
				.block-form
						.form-row
							.form-group.col-lg-3
								label Tên nhóm *
								.input-group.shadow-sm
									input.form-control(placeholder="Nhập tên của bộ quyền")
						.form-row
							.form-group.col-lg-12
								label Mô tả
								.input-group
									textarea.form-control(rows='3' placeholder="Nhập mô tả về bộ quyền")
						.form-row
							.form-group.col-lg-3
								a(href="/").btn-custom.cancel Hủy
								button.btn-custom.submit Thêm
				.block-table
					table.table.table-bordered.m-0
						thead
							tr
								th.text-center Quyền
								th.text-center Tất cả
								th.text-center Xem
								th.text-center Thêm
								th.text-center Sửa
								th.text-center Xóa
						tbody.table-multiple-checkbox
							tr
								td(colspan="6").bold.left CMS
							tr
								td.left Quản lý Danh sách đăng nhập của users
								td
									.input-custom
										._checkbox-normal.m-auto
											input#_checkbox-01(type-checkbox="all-row" type="checkbox")
											label(for="_checkbox-01")
												svg(viewBox=[0, 0, 50, 50].join( ))
													path(d="M5 30 L 20 45 L 45 5")
								td
									.input-custom
										._checkbox-normal.m-auto
											input#_checkbox-02(type="checkbox")
											label(for="_checkbox-02")
												svg(viewBox=[0, 0, 50, 50].join( ))
													path(d="M5 30 L 20 45 L 45 5")
								td
									.input-custom
										._checkbox-normal.m-auto
											input#_checkbox-03(type="checkbox")
											label(for="_checkbox-03")
												svg(viewBox=[0, 0, 50, 50].join( ))
													path(d="M5 30 L 20 45 L 45 5")
								td
								td
							tr
								td.left Quản lý Giới thiệu
								td
									.input-custom
										._checkbox-normal.m-auto
											input#_checkbox-04(type-checkbox="all-row" type="checkbox")
											label(for="_checkbox-04")
												svg(viewBox=[0, 0, 50, 50].join( ))
													path(d="M5 30 L 20 45 L 45 5")
								td
									.input-custom
										._checkbox-normal.m-auto
											input#_checkbox-05(type="checkbox")
											label(for="_checkbox-05")
												svg(viewBox=[0, 0, 50, 50].join( ))
													path(d="M5 30 L 20 45 L 45 5")
								td
									.input-custom
										._checkbox-normal.m-auto
											input#_checkbox-06(type="checkbox")
											label(for="_checkbox-06")
												svg(viewBox=[0, 0, 50, 50].join( ))
													path(d="M5 30 L 20 45 L 45 5")
								td
									.input-custom
										._checkbox-normal.m-auto
											input#_checkbox-07(type="checkbox")
											label(for="_checkbox-07")
												svg(viewBox=[0, 0, 50, 50].join( ))
													path(d="M5 30 L 20 45 L 45 5")
								td
									.input-custom
										._checkbox-normal.m-auto
											input#_checkbox-08(type="checkbox")
											label(for="_checkbox-08")
												svg(viewBox=[0, 0, 50, 50].join( ))
													path(d="M5 30 L 20 45 L 45 5")
							tr
								td(colspan="6").bold.left Thương mại điện tử
							tr
								td.left Quản lý Giảm giá
								td
									.input-custom
										._checkbox-normal.m-auto
											input#_checkbox-09(type-checkbox="all-row" type="checkbox")
											label(for="_checkbox-09")
												svg(viewBox=[0, 0, 50, 50].join( ))
													path(d="M5 30 L 20 45 L 45 5")
								td
									.input-custom
										._checkbox-normal.m-auto
											input#_checkbox-10(type="checkbox")
											label(for="_checkbox-10")
												svg(viewBox=[0, 0, 50, 50].join( ))
													path(d="M5 30 L 20 45 L 45 5")
								td
									.input-custom
										._checkbox-normal.m-auto
											input#_checkbox-12(type="checkbox")
											label(for="_checkbox-12")
												svg(viewBox=[0, 0, 50, 50].join( ))
													path(d="M5 30 L 20 45 L 45 5")
								td
								td
							tr
								td.left Quản lý Thuộc tính sản phẩm
								td
									.input-custom
											._checkbox-normal.m-auto
												input#_checkbox-13(type-checkbox="all-row" type="checkbox")
												label(for="_checkbox-13")
													svg(viewBox=[0, 0, 50, 50].join( ))
														path(d="M5 30 L 20 45 L 45 5")
								td
									.input-custom
											._checkbox-normal.m-auto
												input#_checkbox-14(type="checkbox")
												label(for="_checkbox-14")
													svg(viewBox=[0, 0, 50, 50].join( ))
														path(d="M5 30 L 20 45 L 45 5")
								td
									.input-custom
											._checkbox-normal.m-auto
												input#_checkbox-15(type="checkbox")
												label(for="_checkbox-15")
													svg(viewBox=[0, 0, 50, 50].join( ))
														path(d="M5 30 L 20 45 L 45 5")
								td
									.input-custom
										._checkbox-normal.m-auto
											input#_checkbox-16(type="checkbox")
											label(for="_checkbox-16")
												svg(viewBox=[0, 0, 50, 50].join( ))
													path(d="M5 30 L 20 45 L 45 5")
								td
									.input-custom
										._checkbox-normal.m-auto
											input#_checkbox-17(type="checkbox")
											label(for="_checkbox-17")
												svg(viewBox=[0, 0, 50, 50].join( ))
													path(d="M5 30 L 20 45 L 45 5")