.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/group-user.svg", alt="", srcset="")
				.page-title-content
					h3 Bộ phân quyền nhóm quản trị
					p Tại đây các quản trị viên có thể quản lý bộ quyền của từng nhóm quản trị viên với các chức năng cơ bản: thêm, xóa, sửa.
			.page-title-actions
				a(href="create-role.html").btn.btn-pill.btn-success Thêm mới
	.row
		.block-table.userControl.col-lg-12
			table.table.table-bordered.table-striped
				thead
					tr
						th.text-center #
						th Tên bộ quyền
						th Mô tả chức năng bộ quyền
						th.text-center Tác vụ
				tbody
					tr
						td 1
						td
							.list-item
								.item.badge.badge-primary.p-2 Admin
						td Quản lý toàn bộ tất cả các chức năng hiện có trang admin
						td
							.list-item.center
								// SỬA
								button.btn.btn-outline-primary.mr-2 Sửa
								// XÓA
								button.btn.btn-outline-danger.btn-popup(fancybox="fancybox-notification" dataFieldName="testID" dataId="item-1") Xóa
			include ../_global/_pagination.pug