.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/user.svg", alt="", srcset="")
				.page-title-content
					h3 Tài khoản quản trị
					p Tại đây các quản trị viên có thể quản lý được toàn bộ tài khoản quản trị với các chức năng cơ bản: thêm, xóa, sửa.
			.page-title-actions
				a(href="#").btn.btn-success Thêm mới
	.row
		.seach.col-lg-4
			form(action="#" method="method")
				.form-group.text-center
					.form-input
						input(type="text" placeholder="Nhập tên tài khoản cần tìm")
						button
							img.svg(src="./assets/images/icons/search.svg", alt="", srcset="")
		.block-form.col-lg-12.mt-4
			table.table
				thead
					tr
						th(scope='col') #
						th(scope='col') Tên đăng nhập
						th(scope='col') Email
						th(scope='col') Quyền
						th(scope='col') Trạng thái
						th(scope='col') Tác vụ
				tbody
					tr
						th(scope='row') 1
						td Administrator
						td abc@abc.com
						td Admin
						td Hoạt động
						td.list-task
							.item
								a(href="#") Sửa
							.item
								a(href="#") Đổi Mật Khẩu
							.item
								a(href="#") Xóa
					tr
						th(scope='row') 2
						td Administrator
						td abc@abc.com
						td Admin
						td Hoạt động
						td.list-task
							.item
								a(href="#") Sửa
							.item
								a(href="#") Đổi Mật Khẩu
							.item
								a(href="#") Xóa
					tr
						th(scope='row') 3
						td Administrator
						td abc@abc.com
						td Admin
						td Hoạt động
						td.list-task
							.item
								a(href="#") Sửa
							.item
								a(href="#") Đổi Mật Khẩu
							.item
								a(href="#") Xóa
