.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/user.svg", alt="", srcset="")
				.page-title-content
					h3 Tài khoản quản trị
					p Tại đây các quản trị viên có thể quản lý được toàn bộ tài khoản quản trị với các chức năng cơ bản: thêm, xóa, sửa.
			.page-title-actions
				a(href="create-user.html").btn-custom.submit Thêm mới
	.row
		.seach.col-lg-4
			form(action="#" method="method")
				.form-group
					.form-input
						input(type="text" placeholder="Nhập từ khóa để tìm kiếm")
						button
							img.svg(src="./assets/images/icons/search.svg", alt="", srcset="")
		.block-table.col-lg-12.mt-4
			table.table.table-bordered.m-0
				thead
					tr
						th #
						th Tên tài khoản
						th Số điện thoại
						th Email
						th.text-center Thuộc bộ quyền
						th Ngày tạo
						th.text-center Trạng thái
						th.text-center Tác vụ
				tbody
					-for(i=1;i<5;i++)
						tr
							td #{i}
							td(datavalue="Administrator") Administrator
							td 0969912404
							td y.tran@web4gsolutions.com
							td
								.list-item.center
									.item.badge.badge-primary.p-2 Admin
									.item.badge.badge-primary.p-2 Mod
									.item.badge.badge-primary.p-2 Guest
							td 12/11/2019 14:50
							td.text-center
								.input-custom
									label._checkbox-custom
										input.custom-control-input(type='checkbox' checked="checked" onclick="return false")
										span.custom-control-indicator
							td
								.list-item.center
									// SỬA
									a.btn-custom-icon.item(href="create-user.html")
										.icon(data-toggle="tooltip" data-placement="bottom" title="Sửa")
											img.svg(src="./assets/images/icons/edit.svg", alt="", srcset="")
									// THAY ĐỔI MẬT KHẨU
									button.btn-popup.btn-custom-icon.item(fancybox="fancybox-change-pass", dataFieldName="userID" dataID="item-"+i)
										.icon(data-toggle="tooltip" data-placement="bottom" title="Đổi mật khẩu")
											img.svg(src="./assets/images/icons/user-setting.svg", alt="", srcset="")
									// XÓA
									button.btn-popup.btn-custom-icon.item(fancybox="fancybox-notification" dataFieldName="userID" dataId="item-"+i)
										.icon(data-toggle="tooltip" data-placement="bottom" title="Xóa")
											img.svg(src="./assets/images/icons/delete.svg", alt="", srcset="")
		include ../_global/_pagination.pug