.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/user.svg", alt="", srcset="")
				.page-title-content
					h3 Tài khoản quản trị
					p Tại đây các quản trị viên có thể quản lý được toàn bộ tài khoản quản trị với các chức năng cơ bản: thêm, xóa, sửa.
			.page-title-actions
				a(href="#").btn.btn-success Thêm mới
	.row
		.seach.col-lg-4
			form(action="#" method="method")
				.form-group.text-center
					.form-input
						input(type="text" placeholder="Nhâp từ khóa")
						button
							img.svg(src="./assets/images/icons/search.svg", alt="", srcset="")