.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/maps.svg", alt="", srcset="")
				.page-title-content
					h3 Quản Lý Chi Nhánh
					p Tại đây các quản trị viên có thể quản lý thông tin các chi nhánh của công ty với các chức năng cơ bản: thêm, xóa, sửa.
			.page-title-actions
				a(href="create-branch-offices.html").btn.btn-success Thêm mới
	.row
		.filter.col-lg-8
			form(action="#" method="method")
				.form-row
					.col-lg-5.form-group.mb-0
						label Ngôn ngữ
						select.form-control.shadow-sm
							option Vietnamese
							option English
							option Chinese
					.col-lg-2
						.form-group.mb-0
							button.btn.btn-primary.btn-sm.shadow Lọc
		.block-table.col-lg-12.mt-4
			table.table.table-bordered.m-0
				thead
					tr
						th #
						th Tên chi nhánh
						th Địa chỉ
						th.text-center Ngôn ngữ
						th.text-center Tác vụ
				tbody
					-for(i=1;i<5;i++)
						tr
							td #{i}
							td Ho Chi Minh Headoffice
							td Floor 4, Thang Long Building, 29 Thang Long St., Ward 4, Tan Binh Dist., HCMC, Vietnam.
							td
								.language
									figure.shadow
										img.ofc(src="./assets/images/nation/"+i+".png", alt="")
							td
								.list-item.center
									// SỬA
									a.btn-custom-icon.item(href="create-branch-offices.html")
										.icon(data-toggle="tooltip" data-placement="bottom" title="Sửa")
											img.svg(src="./assets/images/icons/edit.svg", alt="", srcset="")
									// XÓA
									button.popup-delete.btn-custom-icon.item(data-url="#", dataID="item-"+i, data-toggle='modal', data-target='#popup_question')
										.icon(data-toggle="tooltip" data-placement="bottom" title="Xóa")
											img.svg(src="./assets/images/icons/delete.svg", alt="", srcset="")
			// BOX HIỆN LÊN CÂU HỎI
			#popup_question.modal.fade(aria-hidden='true')
				.modal-dialog.modal-dialog-centered(role='document')
					.modal-content
						.modal-header
							h5.modal-title Thông báo
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') ×
						.modal-body Bạn có chắc chắn xóa
						.modal-footer
							button.btn.btn-danger.btn-sm(type='button', data-dismiss='modal') Hủy
							button.submit-delete.btn.btn-success.btn-sm(type='button') Chấp nhận