.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/mail.svg", alt="", srcset="")
				.page-title-content
					h3 Chi tiết liên hệ
					p Tại đây các quản trị viên có thể xem chi tiết thông tin người liên hệ với website.
	.row
		.block-main.shadow-sm.col-lg-12
			.block-table.col-lg-12
				table.table.table-bordered.m-0
					thead
						tr
							th Họ tên
							th Tên
							th Địa chỉ Email
							th.text-center Thời gian liên hệ
					tbody
						-for(i=1;i<5;i++)
							tr
								td #{i}
								td Vũ Hoàng Sơn
								td hoangviet.hung.009@gmail.com
								td.text-center 20/12/2019 14:35