.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/mail.svg", alt="", srcset="")
				.page-title-content
					h3 Thông tin chi tiết liên hệ
					p Tại đây các quản trị viên có thể xem chi tiết thông tin người liên hệ với website.
	.row
		.block-main.shadow-sm.col-lg-12
			.block-form
				.form-row
					.form-group.col-lg-3
						label Họ và tên:
						.input-group.shadow-sm
							input.form-control(value="Vũ Hoàng Sơn" readonly)
				.form-row
					.form-group.col-lg-3
						label Số điện thoại
						.input-group.shadow-sm
							input.form-control(value="0969912404" readonly)
				.form-row
					.form-group.col-lg-3
						label Email
						.input-group.shadow-sm
							input.form-control(value="hoangviet.hung.009@gmail.com" readonly)
				.form-row
					.form-group.col-lg-3
						label Thời gian liên hệ
						.input-group.shadow-sm
							input.form-control(value="20/12/2019 14:35" readonly)
				.form-row
					.form-group.col-lg-3
						label Hình ảnh chúc tết
						figure.w-300px
							img(src="./assets/images/background/login.png", alt="", srcset="")