.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/maps.svg", alt="", srcset="")
				.page-title-content
					h3 Thêm chi nhánh
					p Tại đây các quản trị viên có thể thêm chi nhánh của công ty.
			.page-title-actions
	.row