.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/partner.svg", alt="", srcset="")
				.page-title-content
					h3 Thêm đối tác
					p Tại đây các quản trị viên có thể thêm các đối của mình vào đây.
			.page-title-actions
	.row