.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/post.svg", alt="", srcset="")
				.page-title-content
					h3 Danh sách các bài viết
					p Tại đây các quản trị viên có thể quản lý các bài viết trên Website với các chức năng cơ bản: thêm, xóa, sửa.
			.page-title-actions
				a(href="create-post.html").btn.btn-success Thêm mới
	.row
		.filter.col-lg-12
			form(action="#" method="method")
				.form-row
					.col-lg-3.form-group.mb-0
						select.form-control.shadow-sm
							option Tất cả
							option Thành viên
							option Khách hàng
					.col-lg-2
						.form-group.mb-0
							button.btn.btn-primary.btn-sm.shadow Lọc
		.block-table.col-lg-12.mt-4
			table.table.table-bordered.m-0
				thead
					tr
						th #
						th Tên
						th Loại
						th Logo
						th Sắp sếp
						th Tác vụ
				tbody
					tr
						td 1
						td Facebook
						td Khách hàng
						td
							.block-images-small
								img.ofc(src="./assets/images/partner/1.png", alt="", srcset="")
						td
							.language
								figure.shadow
									img.ofc(src="./assets/images/nation/vietnam.svg", alt="")
						td
							.list-item
								// SỬA
								a.btn-custom-icon.item(href="create-post.html")
									.icon(data-toggle="tooltip" data-placement="bottom" title="Sửa")
										img.svg(src="./assets/images/icons/edit.svg", alt="", srcset="")
								// XÓA
								button.btn-custom-icon.item(type='button', data-toggle='modal', data-target='#popup_question')
									.icon(data-toggle="tooltip" data-placement="bottom" title="Xóa")
										img.svg(src="./assets/images/icons/delete.svg", alt="", srcset="")
					tr
						td 2
						td Instagram
						td Thành viên
						td Tiện ích
						td
							.language
								figure.shadow
									img.ofc(src="./assets/images/nation/china.svg", alt="")
						td
							.list-item
								// SỬA
								a.btn-custom-icon.item(href="#")
									.icon(data-toggle="tooltip" data-placement="bottom" title="Sửa")
										img.svg(src="./assets/images/icons/edit.svg", alt="", srcset="")
								// XÓA
								button.btn-custom-icon.item(type='button', data-toggle='modal', data-target='#popup_question')
									.icon(data-toggle="tooltip" data-placement="bottom" title="Xóa")
										img.svg(src="./assets/images/icons/delete.svg", alt="", srcset="")
					tr
						td 3
						td Twitter
						td Khách hàng
						td Tiện ích
						td
							.language
								figure.shadow
									img.ofc(src="./assets/images/nation/usa.png", alt="")
						td
							.list-item
								// SỬA
								a.btn-custom-icon.item(href="#")
									.icon(data-toggle="tooltip" data-placement="bottom" title="Sửa")
										img.svg(src="./assets/images/icons/edit.svg", alt="", srcset="")
								// XÓA
								button.btn-custom-icon.item(type='button', data-toggle='modal', data-target='#popup_question')
									.icon(data-toggle="tooltip" data-placement="bottom" title="Xóa")
										img.svg(src="./assets/images/icons/delete.svg", alt="", srcset="")
					tr
						td 3
						td Chuyển đổi đơn vị
						td /tien-ich/chuyen-doi-don-vi
						td Tiện ích
						td
							.language
								figure.shadow
									img.ofc(src="./assets/images/nation/korea.png", alt="")
						td
							.list-item
								// SỬA
								a.btn-custom-icon.item(href="#")
									.icon(data-toggle="tooltip" data-placement="bottom" title="Sửa")
										img.svg(src="./assets/images/icons/edit.svg", alt="", srcset="")
								// XÓA
								button.btn-custom-icon.item(type='button', data-toggle='modal', data-target='#popup_question')
									.icon(data-toggle="tooltip" data-placement="bottom" title="Xóa")
										img.svg(src="./assets/images/icons/delete.svg", alt="", srcset="")
								// BOX HIỆN LÊN CÂU HỎI
								#popup_question.modal.fade(aria-hidden='true')
									.modal-dialog.modal-dialog-centered(role='document')
										.modal-content
											.modal-header
												h5.modal-title Thông báo
												button.close(type='button', data-dismiss='modal', aria-label='Close')
													span(aria-hidden='true') ×
											.modal-body Bạn có chắc chắn xóa
											.modal-footer
												button.btn.btn-danger.btn-sm(type='button', data-dismiss='modal') Hủy
												button.btn.btn-success.btn-sm(type='button') Chấp nhận