.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/partner.svg", alt="", srcset="")
				.page-title-content
					h3 Đối tác
					p Tại đây các quản trị viên có thể quản lý các các đối tác khách hàng của hình bằng các chức năng cơ bản như: thêm, xóa, sửa.
			.page-title-actions
				a(href="create-partner.html").btn-custom.submit Thêm mới
	.row
		.filter.col-lg-12
			form(action="#" method="method")
				.form-row
					.col-lg-3.form-group.mb-0
						select.form-control.shadow-sm
							option Tất cả
							option Thành viên
							option Khách hàng
					.col-lg-2
						.form-group.mb-0
							button.btn.btn-primary.btn-sm.shadow Lọc
		.block-table.col-lg-12.mt-4
			table.table.table-bordered.m-0
				thead
					tr
						th #
						th Tên
						th Loại
						th.text-center.w-200px Logo
						th.text-center.w-100px Sắp sếp
						th.text-center Tác vụ
				tbody
					-for(i=1;i<5;i++)
						tr
							td #{i}
							td Fanta
							td Khách hàng
							td.w-200px
								.block-images-small
									img.ofc(src="https://pano.vn/wp-content/uploads/2015/09/mixed-logo.jpg", alt="", srcset="")
							td.text-center 1
							td
								.list-item.center
									// SỬA
									a.btn-custom-icon.item(href="create-partner.html")
										.icon(data-toggle="tooltip" data-placement="bottom" title="Sửa")
											img.svg(src="./assets/images/icons/edit.svg", alt="", srcset="")
									// XÓA
									button.btn-popup.btn-custom-icon.item(fancybox="fancybox-notification" dataFieldName="partnerID" dataId="item-"+i)
										.icon(data-toggle="tooltip" data-placement="bottom" title="Xóa")
											img.svg(src="./assets/images/icons/delete.svg", alt="", srcset="")
		include ../_global/_pagination.pug