.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/partner.svg", alt="", srcset="")
				.page-title-content
					h3 Đối tác
					p Tại đây các quản trị viên có thể quản lý các các đối tác khách hàng của hình bằng các chức năng cơ bản như: thêm, xóa, sửa.
			.page-title-actions
				a(href="create-partner.html").btn.btn-success Thêm mới
	.row
		.filter.col-lg-12
			form(action="#" method="method")
				.form-row
					.col-lg-3.form-group.mb-0
						select.form-control.shadow-sm
							option Tất cả
							option Thành viên
							option Khách hàng
					.col-lg-2
						.form-group.mb-0
							button.btn.btn-primary.btn-sm.shadow Lọc
		.block-table.col-lg-12.mt-4
			table.table.table-bordered.m-0
				thead
					tr
						th #
						th Tên
						th Loại
						th.text-center.w-200px Logo
						th.text-center.w-100px Sắp sếp
						th.text-center Tác vụ
				tbody
					tr
						td 1
						td Facebook
						td Khách hàng
						td.w-200px
							.block-images-small
								img.ofc(src="https://znews-photo.zadn.vn/w660/Uploaded/pgi_cuhpguvau/2018_08_10/danang.jpg", alt="", srcset="")
						td.text-center 1
						td
							.list-item.center
								// SỬA
								a.btn-custom-icon.item(href="create-post.html")
									.icon(data-toggle="tooltip" data-placement="bottom" title="Sửa")
										img.svg(src="./assets/images/icons/edit.svg", alt="", srcset="")
								// XÓA
								button.btn-custom-icon.item(type='button', data-toggle='modal', data-target='#popup_question')
									.icon(data-toggle="tooltip" data-placement="bottom" title="Xóa")
										img.svg(src="./assets/images/icons/delete.svg", alt="", srcset="")
					tr
						td 2
						td Instagram
						td Thành viên
						td.w-200px
							.block-images-small
								img.ofc(src="https://logomaster.ai/static/media/sample.c8bf2b04.svg", alt="", srcset="")
						td.text-center 2
						td
							.list-item.center
								// SỬA
								a.btn-custom-icon.item(href="#")
									.icon(data-toggle="tooltip" data-placement="bottom" title="Sửa")
										img.svg(src="./assets/images/icons/edit.svg", alt="", srcset="")
								// XÓA
								button.btn-custom-icon.item(type='button', data-toggle='modal', data-target='#popup_question')
									.icon(data-toggle="tooltip" data-placement="bottom" title="Xóa")
										img.svg(src="./assets/images/icons/delete.svg", alt="", srcset="")
					tr
						td 3
						td Twitter
						td Khách hàng
						td.w-200px
							.block-images-small
								img.ofc(src="https://pano.vn/wp-content/uploads/2015/09/mixed-logo.jpg", alt="", srcset="")
						td.text-center 3
						td
							.list-item.center
								// SỬA
								a.btn-custom-icon.item(href="#")
									.icon(data-toggle="tooltip" data-placement="bottom" title="Sửa")
										img.svg(src="./assets/images/icons/edit.svg", alt="", srcset="")
								// XÓA
								button.btn-custom-icon.item(type='button', data-toggle='modal', data-target='#popup_question')
									.icon(data-toggle="tooltip" data-placement="bottom" title="Xóa")
										img.svg(src="./assets/images/icons/delete.svg", alt="", srcset="")
			// BOX HIỆN LÊN CÂU HỎI
			#popup_question.modal.fade(aria-hidden='true')
				.modal-dialog.modal-dialog-centered(role='document')
					.modal-content
						.modal-header
							h5.modal-title Thông báo
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') ×
						.modal-body Bạn có chắc chắn xóa
						.modal-footer
							button.btn.btn-danger.btn-sm(type='button', data-dismiss='modal') Hủy
							button.btn.btn-success.btn-sm(type='button') Chấp nhận