<!-- BLOCK 1 TRANG DANH MỤC SẢN PHẨM ### CẤP 3 ###-->
<div class="block-1">
    <div class="container">
        <div class="block-item">
            <div class="row ai-c">
                <div class="col-sm-6">
                    <a data-fancybox href="https://youtu.be/itxHe9DUEXQ">
                        <div class="img ov-h isVideo"><img class="ofcv lazyload blur-up" data-src="/Content/resources/assets/images/image-content/4.png" alt="" srcset=""></div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <div class="description">
                        <div class="ckeditor desc-category-product-level-3-block-1">
                            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod AN</h3>
                            <h4>Lorem ipsum</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <p>. Lorem Ipsum is simply dummy text of the</p>
                            <p>. Lorem Ipsum is simply dummy text of the</p>
                            <p>. Lorem Ipsum is simply dummy text of the</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BLOCK 2 TRANG DANH MỤC SẢN PHẨM ### CẤP 3 ###-->
<div class="block-2">
    <div class="container">
        <div class="block-title wow fadeInLeft" data-wow-delay=".2s">
            <h3 class="tt-u color-gray fw-700">Bạn muốn đo như thế nào? Nhiệt kế và nhiệt kế hồng ngoại của chúng tôi</h3>
        </div>
        <div class="block-item">
            <div class="row block-item-general">
                <div class="list-item"></div>
            </div>
        </div>
    </div>
</div>
<!-- BLOCK 3 TRANG DANH MỤC SẢN PHẨM ### CẤP 3 ###-->
<div class="block-3">
    <div class="container">
        <div class="block-title wow fadeInLeft" data-wow-delay=".2s">
            <h3 class="color-gray tt-u fw-700">Bạn muốn đo ở đâu? Nhiệt kế hồng ngoại cho bất kỳ</h3>
        </div>
        <div class="block-item">
            <div class="row block-item-general">
                <div class="item-category-product-level-3-block-3 col-lg-4 col-sm-6 wow fadeIn" data-wow-delay=".4s">
                    <div class="item-product">
                        <a href="danh-muc-san-pham-cap-4.html">
                            <figure class="hover-style-1">
                                <div class="img ov-h"><img class="ofcv lazyload blur-up" data-src="/Content/resources/assets/images/products/4.png" alt=""></div>
                                <figcaption>
                                    <h5 class="lcl lcl-1 fw-700 tt-u ta-c">Lorem Ipsum is simply</h5>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="item-category-product-level-3-block-3 col-lg-4 col-sm-6 wow fadeIn" data-wow-delay=".4s">
                    <div class="item-product">
                        <a href="danh-muc-san-pham-cap-4.html">
                            <figure class="hover-style-1">
                                <div class="img ov-h"><img class="ofcv lazyload blur-up" data-src="/Content/resources/assets/images/products/5.png" alt=""></div>
                                <figcaption>
                                    <h5 class="lcl lcl-1 fw-700 tt-u ta-c">Lorem Ipsum is simply</h5>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="item-category-product-level-3-block-3 col-lg-4 col-sm-6 wow fadeIn" data-wow-delay=".4s">
                    <div class="item-product">
                        <a href="danh-muc-san-pham-cap-4.html">
                            <figure class="hover-style-1">
                                <div class="img ov-h"><img class="ofcv lazyload blur-up" data-src="/Content/resources/assets/images/products/6.png" alt=""></div>
                                <figcaption>
                                    <h5 class="lcl lcl-1 fw-700 tt-u ta-c">Lorem Ipsum is simply</h5>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="description">
            <div class="ckeditor desc-category-product-level-3-block-3">
                <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h3>
                <h5>dummy text of</h5>
                <ul>
                    <li>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </li>
                    <li>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </li>
                    <li>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                    </li>
                    <li>
                        <p>Lorem Ipsum is not simply random text.</p>
                    </li>
                </ul>
                <h4>Lorem Ipsum</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.The standard chunk of Lorem Ipsum. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum".</p>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
            </div>
        </div>
    </div>
</div>
<!-- BLOCK 4 TRANG DANH MỤC SẢN PHẨM ### CẤP 3 ###-->
<div class="block-4">
    <div class="image-content">
        <div class="content" data-setHeight>
            <div class="ckeditor desc-category-product-level-2-block-4">
                <h3>Lorem Ipsum is simply dummy text</h3>
                <h4>Lorem Ipsum is simply dummy text</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.The standard chunk of Lorem Ipsum.</p>
                <h4>Lorem Ipsum is simply dummy text</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.The standard chunk of Lorem Ipsum.</p>
            </div>
        </div>
        <div class="image ov-h" data-getHeight><img class="ofcv lazyload blur-up" data-src="/Content/resources/assets/images/image-content/3.png" alt="" srcset=""></div>
    </div>
    <div class="image-content">
        <div class="image ov-h" data-getHeight><img class="ofcv lazyload blur-up" data-src="/Content/resources/assets/images/image-content/4.png" alt="" srcset=""></div>
        <div class="content mr-auto" data-setHeight>
            <div class="ckeditor desc-category-product-level-2-block-4">
                <h3>Lorem Ipsum is simply dummy text</h3>
                <h4>Lorem Ipsum is simply dummy text</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.The standard chunk of Lorem Ipsum.</p>
                <h4>Lorem Ipsum is simply dummy text</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.The standard chunk of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
</div>
			</section>
