section.login
	.box-form-login
		.title
			.logo
				a(href="http://web4gsolutions.com/")
					img(src="./assets/images/logo.png", alt="")
			.content Xin chào quản trị viên !
		form(action="index.html" method="method")
			.form-row
				.form-group.col-lg-12
					label Tài khoản
					input(type="text")
				.form-group.col-lg-12
					label Mật khẩu
					input(type="password")
				.form-group.col-lg-6.d-flex.justify-content-between
					label Duy trì đăng nhập
					.input-custom
						._checkbox-normal.login-form
							input#remember(type="checkbox")
							label(for="remember")
								svg(viewBox=[0, 0, 50, 50].join( ))
									path(d="M5 30 L 20 45 L 45 5")
				.form-group.col-lg-6
					.forgot-pass
						a(href="quen-mat-khau.html") Quên mật khẩu ?
			button Đăng nhập