section.login
	.box-form-login
		.title
			.logo
				a(href="http://web4gsolutions.com/")
					img(src="./assets/images/logo.png", alt="")
			.content Xin chào quản trị viên !
		form(action="index.html" method="method")
			.form-group
				label Tài khoản
				input(type="text")
				//- span.eror Sai tài khoản
			.form-group
				label Mật khẩu
				input(type="password")
				//- span.eror Sai mật khẩu
				.forgot-pass
					a(href="quen-mat-khau.html") Quên mật khẩu ?
			button Đăng nhập