extends components/_layout/_layout.pug

block var
	- let title = 'Admin | Các Chi Nhánh Công Ty'
	//- - let bodyClass = 'index-page'

block main
	include ./components/contact/branch-offices
block scripts