extends components/_layout/_layout.pug

block var
	- let title = 'Admin | Tạo bài viết'
	//- - let bodyClass = 'index-page'

block main
	include ./components/content-in-website/create-post
block scripts