extends components/_layout/_layout.pug

block var
	- let title = 'Admin | Danh sách mã giảm giá'
	//- - let bodyClass = 'index-page'

block main
	include ./components/ecommerce/list-sale
block scripts