doctype html

html(lang="en")
	head
		title Admin | Đăng Nhập
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/main.min.css")
	body
		section.login
			.box-form-login
				.title
					.logo
						a(href="http://web4gsolutions.com/")
							img(src="./assets/images/logo.png", alt="")
					.content Xin chào quản trị viên !
				form(action="index.html" method="method")
					.form-row
						.form-group.col-lg-12
							label Tài khoản
							input(type="text")
						.form-group.col-lg-12
							label Mật khẩu
							input(type="password")
						.form-group.col-lg-6.d-flex.justify-content-between
							label Duy trì đăng nhập
							.input-custom
								._checkbox-normal
									label
										input(type="checkbox")
						.form-group.col-lg-6
							.forgot-pass
								a(href="quen-mat-khau.html") Quên mật khẩu ?
					button Đăng nhập
			#js-page-verify(class=bodyClass hidden)
		block scripts
		script(type="text/javascript", src="./js/core.min.js")
		script(type="text/javascript", src="./js/main.min.js")