extends components/_layout/_layout.pug

block var
	- let title = 'Admin | Trang Mẫu Chi Tiết'
	//- - let bodyClass = 'index-page'

block main
	include ./components/document/new-layout-detail
block scripts