.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/home.svg", alt="", srcset="")
				.page-title-content
					h3 Trang chủ quản trị viên
					p Thông kê sơ bộ các thông số của website, các quản trị viên có thể xem và đánh giá chung được tình trạng của webite.