.main__inner
	.page-title
		.page-title-wrapper
			.page-title-heading
				.page-title-icon
					img.svg(src="./assets/images/icons/home.svg", alt="", srcset="")
				.page-title-content
					h3 Home
					p Thông kê sơ bộ các thông số của website, các quản trị viên có thể xem và đánh giá chung được tình trạng của webite.
	.row
		.statistical.col-lg-12.mb-4
			.card.shadow-sm
				.card-header
					.card-header-title
						.icon
							img.svg(src="./assets/images/icons/dashboard.svg", alt="")
						h3 Thống kê chung
					.card-header-buttons
						a(href="#") View All
				.card-body
					.row.list-statistical
						.col-lg-4.col-md-6.mb-3
							.item.shadow-sm
								.icon.bg-success
									img.svg(src="./assets/images/icons/user.svg", alt="", srcset="")
								.count
									.item-count
										h5 TÀI KHOẢN
										span 10.000.000.000
									.item-count
										h5 HOẠT ĐỘNG
										span 3
						.col-lg-4.col-md-6.mb-3
							.item.shadow-sm
								.icon.bg-warning
									img.svg(src="./assets/images/icons/cart.svg", alt="", srcset="")
								.count
									.item-count
										h5 ĐƠN HÀNG
										span 10
									.item-count
										h5 ĐANG XỬ LÝ
										span 5
						.col-lg-4.col-md-6.mb-3
							.item.shadow-sm
								.icon.bg-primary
									img.svg(src="./assets/images/icons/post.svg", alt="", srcset="")
								.count
									.item-count
										h5 BÀI VIẾT
										span 40
									.item-count
										h5 HIỂN THỊ
										span 30
						.col-lg-4.col-md-6.mb-3
							.item.shadow-sm
								.icon.bg-danger
									img.svg(src="./assets/images/icons/mail.svg", alt="", srcset="")
								.count
									.item-count
										h5 E-MAIL
										span 20
									.item-count
										h5 ĐÃ XEM
										span 2
						.col-lg-4.col-md-6.mb-3
							.item.shadow-sm
								.icon.bg-info
									img.svg(src="./assets/images/icons/pages.svg", alt="", srcset="")
								.count
									.item-count
										h5 SỐ TRANG
										span 5
									.item-count
										h5 HIỂN THỊ
										span 3
						.col-lg-4.col-md-6.mb-3
							.item.shadow-sm
								.icon.bg-secondary
									img.svg(src="./assets/images/icons/products.svg", alt="", srcset="")
								.count
									.item-count
										h5 SẢN PHẨM
										span 100
									.item-count
										h5 HIỂN THỊ
										span 30
		.history.col-lg-6.mb-4
			.card.shadow-sm
				.card-header
					.card-header-title
						.icon
							img.svg(src="./assets/images/icons/history-login.svg", alt="")
						h3 Lịch sử đăng nhập
					.card-header-buttons
						a(href="history.html") View All
				.card-body
					.max-height-500px
						.list-history
							.item
								span.circle.bg-success
								.action-content
									h5 Tài khoản:
										span Nguyễn Minh Khoa
									p Đăng nhập vào lúc
										span.text-success 26/11/2019 09:34:05
									p Đăng nhập bằng thiết bị
										span.text-success Web Browser
							.item
								span.circle.bg-danger
								.action-content
									h5 Tài khoản:
										span Hoàng Việt Hùng
									p Đăng xuất vào lúc
										span.text-danger 26/11/2019 09:34:05
									p Đăng nhập bằng thiết bị
										span.text-danger iPhone 11 Pro Max
							.item
								span.circle.bg-success
								.action-content
									h5 Tài khoản:
										span Vũ Hoàng Sơn
									p Đăng nhập vào lúc
										span.text-success 26/11/2019 09:34:05
									p Đăng nhập bằng thiết bị
										span.text-success Web Browser
							.item
								span.circle.bg-danger
								.action-content
									h5 Tài khoản:
										span Nguyễn Minh Tiến
									p Đăng xuất vào lúc
										span.text-danger 26/11/2019 09:34:05
									p Đăng nhập bằng thiết bị
										span.text-danger Samsung Galaxy Note 10
							.item
								span.circle.bg-danger
								.action-content
									h5 Tài khoản:
										span Đặng Thị Ngọc Quỳnh
									p Đăng xuất vào lúc
										span.text-danger 26/11/2019 09:34:05
									p Đăng nhập bằng thiết bị
										span.text-danger Nokie 1280
							.item
								span.circle.bg-success
								.action-content
									h5 Tài khoản:
										span Trần Như Ý
									p Đăng nhập vào lúc
										span.text-success 26/11/2019 09:34:05
									p Đăng nhập bằng thiết bị
										span.text-success Web Browser
							.item
								span.circle.bg-success
								.action-content
									h5 Tài khoản:
										span Võ Nguyên Thắng
									p Đăng nhập vào lúc
										span.text-success 26/11/2019 09:34:05
									p Đăng nhập bằng thiết bị
										span.text-success Web Browser
							.item
								span.circle.bg-danger
								.action-content
									h5 Tài khoản:
										span Ngô Thị Thanh Dung
									p Đăng xuất vào lúc
										span.text-danger 26/11/2019 09:34:05
									p Đăng nhập bằng thiết bị
										span.text-danger Web Browser
		.history.col-lg-6.mb-4
			.card.shadow-sm
				.card-header
					.card-header-title
						.icon
							img.svg(src="./assets/images/icons/history-action.svg", alt="")
						h3 Lịch sử hoạt động
					.card-header-buttons
						a(href="history.html") View All
				.card-body
					.max-height-500px
						.list-history
							.item
								span.circle.bg-success
								.action-content
									h5 Tài khoản:
										span Nguyễn Minh Khoa
									p Mô tả hoạt động
										span.text-success Thêm danh mục tin tức nổi bật
									p Thời gian
										span.text-success 26/11/2019 04:56:13
							.item
								span.circle.bg-danger
								.action-content
									h5 Tài khoản:
										span Hoàng Việt Hùng
									p Mô tả hoạt động
										span.text-danger Xóa tài khoản quản trị
									p Thời gian
										span.text-danger 26/11/2019 04:56:13
							.item
								span.circle.bg-primary
								.action-content
									h5 Tài khoản:
										span Vũ Hoàng Sơn
									p Mô tả hoạt động
										span.text-primary Chỉnh sửa nội dung bài viết
									p Thời gian
										span.text-primary 26/11/2019 04:56:13
							.item
								span.circle.bg-primary
								.action-content
									h5 Tài khoản:
										span Nguyễn Minh Tiến
									p Mô tả hoạt động
										span.text-primary Chỉnh sửa hình ảnh Banner
									p Thời gian
										span.text-primary 26/11/2019 04:56:13
							.item
								span.circle.bg-danger
								.action-content
									h5 Tài khoản:
										span Đặng Thị Ngọc Quỳnh
									p Mô tả hoạt động
										span.text-danger Xóa luôn cái website
									p Thời gian
										span.text-danger 26/11/2019 04:56:13
							.item
								span.circle.bg-success
								.action-content
									h5 Tài khoản:
										span Trần Như Ý
									p Mô tả hoạt động
										span.text-success Thêm hình ảnh album
									p Thời gian
										span.text-success 26/11/2019 04:56:13
							.item
								span.circle.bg-success
								.action-content
									h5 Tài khoản:
										span Võ Nguyên Thắng
									p Mô tả hoạt động
										span.text-success Thêm danh mục sản phẩm hot
									p Thời gian
										span.text-success 26/11/2019 04:56:13
							.item
								span.circle.bg-danger
								.action-content
									h5 Tài khoản:
										span Ngô Thị Thanh Dung
									p Mô tả hoạt động
										span.text-danger Xóa tất cả các danh mục
									p Thời gian
										span.text-danger 26/11/2019 04:56:13