body {
	background: #e9ecee;

	main {
		padding: 60px 0 0 280px;
		transition: .5s all ease-in-out;
	}

	&.active {
		main {
			padding: 60px 0 0 80px;
			transition: .5s all ease-in-out;
		}

		::-webkit-scrollbar {
			display: none;
		}
	}

	&.no-scroll {
		overflow-y: hidden;
	}
}

input,
select,
textarea {
	&.input-validation-error {
		color: red;
		border: 1px solid red;

		&::placeholder {
			color: red;
		}
	}
}

span.flatpickr-weekday {
	color: white;
}

.block-loading {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba($color: #000000, $alpha: .8);
	z-index: 99999;
	transition: .2s all ease-in-out;
	// KHÔNG XUẤT HIỆN
	opacity: 0;
	pointer-events: none;
	visibility: hidden;

	img {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&.active {
		opacity: 1;
		pointer-events: visible;
		visibility: visible;
	}
}

.date-picker[readonly] {
	background: white;
}

.field-validation-error {
	width: 100%;
	font-size: 13px;
	display: block;
	margin-top: 10px;
	color: #f62d31;
	text-align: right;
}

.main__inner {
	padding: 30px;

	@media (max-width: 1024.98px) {
		padding: 15px;
	}
}

.ofcv {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	font-family: 'object-fit: cover, object-position: center';
	background-size: cover;
}

.ofct {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	font-family: 'object-fit: contain, object-position: center';
	background-size: contain;
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.lcl {
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;

	&-1 {
		-webkit-line-clamp: 1;
	}

	&-2 {
		-webkit-line-clamp: 2;
	}

	&-3 {
		-webkit-line-clamp: 3;
	}
}

.blur-up {
	filter: blur(10px);
	transition: filter 1s;

	&.lazy-loaded {
		filter: blur(0);
	}
}

.pagination {
	width: 100%;
	display: flex;
	justify-content: flex-end;

	@media (max-width: 1024.98px) {
		padding: 20px 0;
		justify-content: center;
	}

	li {
		margin: 0 5px;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #000000;
			padding: 5px 10px;
			border-radius: 5px;
			font-weight: 400;
			font-size: 12px;
			background: #dddddd;
			border: 1px solid #FFFFFF;
			transition: all .2s cubic-bezier(.2, .5, .5, .8);
		}

		&:hover {
			a {
				text-decoration: none;
				color: #FFFFFF;
				background: #0062cc;
			}
		}

		&.active {
			a {
				color: #FFFFFF;
				background: #0062cc;
				text-decoration: underline;
			}
		}
	}
}

.input-custom {
	h5 {
		font-size: 14px;
		font-weight: 400;
	}

	._checkbox-custom {
		min-height: 1rem;
		padding-left: 0;
		margin-right: 0;
		cursor: pointer;

		.custom-control-indicator {
			content: "";
			display: inline-block;
			position: relative;
			width: 30px;
			height: 10px;
			background-color: #818181;
			border-radius: 15px;
			margin-right: 10px;
			-webkit-transition: background .3s ease;
			transition: background .3s ease;
			vertical-align: middle;
			margin: 0 16px;
			box-shadow: none;

			&:after {
				content: "";
				position: absolute;
				display: inline-block;
				width: 18px;
				height: 18px;
				background-color: #f1f1f1;
				border-radius: 21px;
				box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
				left: -2px;
				top: -4px;
				-webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
				transition: left .3s ease, background .3s ease, box-shadow .1s ease;
			}
		}

		.custom-control-input {
			&:checked~.custom-control-indicator {
				background-color: rgba($color: #3f6ad8, $alpha: .5);
				background-image: none;
				box-shadow: none !important;

				&:after {
					background-color: rgba($color: #3f6ad8, $alpha: 1);
					left: 15px;
				}
			}

			&:focus~.custom-control-indicator {
				box-shadow: none !important;
			}
		}
	}

	._checkbox-normal {
		cursor: pointer;
		position: relative;
		height: 25px;
		width: 25px;

		label {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		input {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			appearance: none;
			border: 2px solid #28a745;
			border-radius: 5px;
			outline: none;
			transition-duration: 0.3s;
			cursor: pointer;

			&:active {
				transform: scale(1.05);
				border-radius: 30px;
			}

			&:after {
				content: '\2713';
				position: absolute;
				width: 50%;
				height: 50%;
				transform: translate(-50%, -50%);
				top: 30%;
				left: 50%;
				pointer-events: none;
				opacity: 0;
				color: #28a745;
				transition: .3s all ease-in-out;
			}
		}

		input:checked {
			&:after {
				opacity: 1;
			}
		}

		&.color-2 {
			input {
				border: 2px solid #677bc4;

				&:after {
					color: #677bc4;
				}
			}
		}
	}

	._select-custom {
		width: 100%;
	}

	.select2 {
		width: 100% !important;
	}
}

.modal-POPUP {
	max-width: 500px;
	width: 100%;
	border-radius: 10px;
	padding: 40px 0;

	.title-modal {
		padding: 0 40px;
		margin-bottom: 10px;

		h5 {
			font-size: 24px;
			line-height: 50px;
		}

		p {
			font-size: 13px;
		}
	}

	.content-modal {
		padding: 20px 40px;
		border: 1px solid #dedede;
		font-size: 14px;
	}

	.list-button {
		display: flex;
		justify-content: flex-end;
		margin: 15px 0;
		padding: 0 40px;

		.item {
			margin-right: 15px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.tab-container {
	.block-list-tab {
		position: relative;
		margin-bottom: 35px;
	}

	.list-tab {
		width: 100%;
		display: flex;
		padding-bottom: 30px;
		border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
		background-color: white;

		.item {
			user-select: none;
			cursor: pointer;
			padding: 0.5rem 0.75rem;
			margin-right: 15px;
			font-size: 13px;
			color: rgba($color: #000000, $alpha: 1);
			font-weight: 500;
			border-radius: 0.25rem;
			box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 106, 216, 0.2);
			transition: .2s all ease-in-out;

			&:last-child {
				margin-right: 0;
			}

			@media (min-width: 1440px) {
				&:hover {
					color: #ffffff;
					background: #3f6ad8;
				}
			}

			&.active {
				color: #ffffff;
				background: #3f6ad8;
			}
		}
	}

	.tab-content {
		.content {
			display: none;
			opacity: 0;
			transition: all .3s cubic-bezier(.2, .5, .5, .8);

			&.show {
				opacity: 1;
			}
		}
	}
}

.block-images-small {
	max-width: 100px;
	width: 50%;
	margin: 0 auto;

	img {
		border-radius: 10px;
	}
}

.block-images-big {
	max-width: 200px;
	width: 100%;
	margin: 0 auto;

	img {
		border-radius: 10px;
	}
}

.avatar {
	cursor: pointer;
	user-select: none;
	position: relative;
	z-index: 1;

	figure {
		height: 42px;
		width: 42px;
		border-radius: 10px;
		overflow: hidden;
		background: #494e53;
		border: 3px solid #ffffff;
	}

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		width: 10px;
		height: 10px;
		transform: translateY(-50%);
		transition: .2s all ease-in-out;

		background-image: url(../assets/images/icons/arrow-sub-menu.svg);
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.language {
	user-select: none;
	position: relative;
	z-index: 1;

	figure {
		height: 42px;
		width: 42px;
		margin: 0 auto;
		border-radius: 10px;
		overflow: hidden;
		background: #494e53;
		border: 3px solid #ffffff;
	}
}

.basic-info-accounts {
	z-index: 1;
	height: 42px;

	.name {
		font-size: 14px;
		font-weight: 500;
		color: rgba(0, 0, 0, 0.8);
	}

	.position {
		font-size: 12px;
		color: rgba(0, 0, 0, 0.5);
	}
}

.content-dropdown {
	display: none;
	overflow: hidden;
	position: absolute;
	background: #ffffff;
	top: 60px;
	right: 0;
	box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .1);
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	z-index: 100;
}

.page-title {
	position: relative;
	padding: 30px;
	margin: -30px -30px 30px;
	background: rgba(255, 255, 255, 0.45);

	.page-title-wrapper {
		position: relative;
		display: flex;
		align-items: center;

		.page-title-heading {
			font-weight: 400;
			display: flex;
			align-content: center;
			align-items: center;

			.page-title-icon {
				display: flex;
				align-items: center;
				align-content: center;
				text-align: center;
				padding: 0.83333333rem;
				margin: 0 30px 0 0;
				background: #fff;
				box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
				border-radius: 0.25rem;
				width: 60px;
				height: 60px;

				.svg {
					margin: auto;
					width: 32px;
					height: 32px;
					opacity: .6;
				}
			}

			.page-title-content {

				h3,
				p {
					color: rgba(0, 0, 0, 0.8);
				}

				h3 {
					font-size: 18px;
					line-height: 35px;
				}

				p {
					font-size: 14px;
					width: 70%;
				}
			}
		}

		.page-title-actions {
			display: flex;
			margin-left: auto;

			>a {
				display: flex;
				align-items: center;
				height: 40px;
				line-height: 40px;
				box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
				font-weight: 700;
				text-decoration: none;

				svg {
					width: 15px;
					height: 15px;
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		padding: 15px;
		margin: -15px -15px 15px;

		.page-title-wrapper {
			.page-title-heading {
				.page-title-icon {
					margin: 0 15px 0 0;
				}

				.page-title-content {
					h3 {
						font-size: 16px;
						line-height: 25px;
					}

					p {
						font-size: 12px;
					}
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		.page-title-wrapper {
			.page-title-heading {
				.page-title-content {
					p {
						display: none;
					}
				}
			}
		}
	}
}

.card {
	.card-header {
		display: flex;
		align-items: center;

		.card-header-title {
			display: flex;
			align-items: center;

			.icon {
				width: 30px;
				height: 30px;
				opacity: .6;

				svg {
					width: 100%;
					height: 100%;
				}
			}

			h3 {
				font-size: 16px;
				margin-left: 15px;
				color: rgba($color: #000000, $alpha: .8)
			}
		}

		.card-header-actions {
			margin-left: auto;

			>a,
			button {
				color: rgba($color: #000000, $alpha: .7);
				font-size: 12px;
				font-weight: 700;
				line-height: 30px;
				padding: 0 10px;
			}
		}
	}
}

.block-table {
	font-size: 13px;
	background: #ffffff;
	padding: 1.25rem;
	border-radius: 5px;

	table {

		tr {
			color: #495057;
			transition: .2s all ease-in-out;

			th {
				padding: .55rem;
				border-bottom: 2px solid #e9ecef;
			}

			td {
				padding: .44rem;
			}

			th,
			td {
				vertical-align: middle;

				&:first-child {
					text-align: center;
				}

				&.left {
					text-align: left;
				}

				&.bold {
					font-weight: 700;
				}
			}
		}

		thead {
			tr {
				cursor: pointer;
			}
		}

		tbody {
			tr {
				@media (min-width: 1025px) {
					&:hover {
						background-color: #e0f3ff;
					}
				}
			}
		}
	}

	.list-item {
		display: flex;

		&.center {
			justify-content: center;
		}

		.item {
			margin-right: 15px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&.table-input {
		.form-group {
			margin-bottom: 0;

			.input-group {
				.input-group-text {
					font-size: 14px;

					svg {
						width: 20px;
						height: 20px;
						opacity: .6;
					}
				}

				select {
					font-size: 14px;
					cursor: pointer;
				}

				input {
					font-size: 14px;
				}
			}
		}
	}
}

.form-group {
	margin-bottom: 30px;

	label {
		font-size: 13px;
		margin-bottom: 15px;
	}

	.input-group {
		.input-group-text {
			font-size: 13px;

			svg {
				width: 20px;
				height: 20px;
				opacity: .6;
			}
		}

		select {
			font-size: 13px;
			cursor: pointer;
		}

		input {
			font-size: 13px;
		}

		textarea {
			font-size: 13px;
		}
	}

	.file-upload {
		label {
			position: relative;
			margin-bottom: 0;
		}

		input[type="file"] {
			width: 100%;
			height: 100%;
			cursor: pointer;
			opacity: 0;
			top: 0;
			left: 0;
			position: absolute;
		}

		.file-upload-notice {
			display: block;
			font-size: 13px;
			margin: 10px 0;
		}
	}

	.ck-editor__editable {
		min-height: 500px;
	}
}

.filter {
	position: relative;
	border-bottom: 1px solid #dedede;
	margin-bottom: 30px;
	background: #ffffff;

	.form-group {
		display: flex;
		align-items: center;
		margin-bottom: 15px;

		label {
			flex: 0 0 30%;
			max-width: 30%;
			margin-bottom: 0;
		}

		.input-group {
			flex: 0 0 60%;
			max-width: 60%;
		}
	}

	button {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.block-main {
	background: #ffffff;
	border-radius: 5px;
	padding: 30px;
}

.login {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-image: url(../assets/images/background/login.png);
	background-size: cover;
	background-position: center center;

	.box-form-login {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 480px;
		padding: 40px;
		transform: translate(-50%, -50%);
		z-index: 50;

		color: #72767d;
		background: #36393f;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
		border-radius: 5px;

		.title {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin-bottom: 50px;

			.logo {
				flex: 0 0 50%;
				max-width: 50%;
				padding-right: 30px;
				border-right: 1px solid #414245;
			}

			.content {
				flex: 0 0 50%;
				max-width: 50%;
				padding-left: 10px;
				font-weight: 400;
				color: #ffffff;
			}
		}

		.form-group {
			margin-bottom: 25px;

			label {
				font-size: 14px;
				margin-bottom: 5px;
			}

			input {
				width: 100%;
				line-height: 20px;
				padding: 10px;
				color: #dcddde;
				border-radius: 3px;
				background: #303339;
				border: 1px solid rgb(34, 36, 40);
			}

			.forgot-pass {
				text-align: right;
				color: #ffffff;
				font-size: 14px;

				&:hover {
					>a {
						color: #ffffff;
					}
				}
			}
		}

		button {
			color: #ffffff;
			width: 100%;
			border: none;
			line-height: 40px;
			border-radius: 3px;
			background: #677bc4;
		}
	}
}

.statistical {
	.list-statistical {
		margin-bottom: -1rem;

		.item {
			cursor: pointer;
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			background-color: #ffffff;
			border: 1px solid rgba(26, 54, 126, 0.125);
			border-radius: 10px;
			padding: 25px;
			transition: .5s all ease-in-out;

			.icon {
				position: relative;
				flex: 0 0 60px;
				max-width: 60px;
				height: 60px;
				border-radius: 50%;
				overflow: hidden;

				.svg {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 50%;
					height: 50%;
				}
			}

			.count {
				flex-basis: 0;
				flex-grow: 1;
				padding-left: 30px;
				max-width: 100%;

				.item-count {
					margin-bottom: 5px;
					display: flex;
					align-items: center;

					&:last-child {
						margin-bottom: 0;
					}

					h5 {
						display: inline-block;
						font-size: 14px;
						color: rgba($color: #000000, $alpha: .6);
						text-transform: uppercase;
					}

					span {
						display: -webkit-box;
						font-size: 20px;
						font-weight: 700;
						padding-left: 30px;
						color: rgba($color: #000000, $alpha: 1.0);
						overflow: hidden;
						text-overflow: ellipsis;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 1;
						max-width: 145px;
						max-height: 30px;
					}
				}
			}
		}
	}

	@media (max-width: 1440px) {
		.list-statistical {
			.item {
				.count {
					padding-left: 15px;

					.item-count {
						h5 {
							min-width: 100px;
						}

						span {
							padding-left: 15px;
							max-width: 100px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		.list-statistical {
			.item {
				.icon {
					flex: 0 0 50px;
					max-width: 50px;
					height: 50px;
				}

				.count {
					.item-count {
						h5 {
							font-size: 12px;
							min-width: 80px;
						}

						span {
							font-size: 16px;
							max-width: 70px;
							max-height: 25px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		.list-statistical {
			.item {
				padding: 15px;
				flex-direction: column;

				.icon {
					width: 50px;
					margin: 0 auto 15px;
				}

				.count {
					padding-left: 0;

					.item-count {
						flex-direction: column;
						margin-bottom: 10px;

						h5 {
							min-width: unset;
							margin-bottom: 5px;
						}

						span {
							max-width: 100%;
							padding-left: 0;
						}
					}
				}
			}
		}
	}
}

.history {
	.list-history {
		width: 100%;
		position: relative;
		padding: 25px 0;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 10px;
			height: 100%;
			width: 5px;
			border-radius: 5px;
			background: #e9ecef;
		}

		.item {
			position: relative;
			margin-bottom: 35px;

			.circle {
				cursor: pointer;
				display: inline-block;
				position: absolute;
				width: 20px;
				height: 20px;
				top: 5px;
				left: 2px;
				border-radius: 50%;
				z-index: 1;

				&:after {
					content: '';
					background: #ffffff;
					position: absolute;
					top: 50%;
					left: 50%;
					width: 10px;
					height: 10px;
					border-radius: 50%;
					transform: translate(-50%, -50%);
				}
			}

			.action-content {
				position: relative;
				margin-left: 35px;

				h5 {
					font-size: 14px;
					margin-bottom: 5px;

					span {
						font-weight: 700;
						text-transform: capitalize;
						padding-left: 10px;
					}
				}

				p {
					font-size: 12px;
					line-height: 20px;

					span {
						font-weight: 700;
						padding-left: 10px;
					}
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.list-preview-buttons {
	display: flex;
	flex-wrap: wrap;

	button {
		margin: 5px;
	}
}

// Css cho GrapesJS

#grapes-html {
	box-shadow: 0 0 8px rgba(black, .15);
	border: 1px solid #c0c0c0;
}

/* Theming */

/* Primary color for the background */
.gjs-one-bg {
	background-color: #78366a;
}

/* Secondary color for the text color */
.gjs-two-color {
	color: rgba(255, 255, 255, 0.7);
}

/* Tertiary color for the background */
.gjs-three-bg {
	background-color: #ec5896;
	color: white;
}

/* Quaternary color for the text color */
.gjs-four-color,
.gjs-four-color-h:hover {
	color: #ec5896;
}

/* Reset some default styling */
.gjs-cv-canvas {
	top: 0;
	width: 100%;
	height: 100%;
}

.gjs-plh-image {
	&.ofcv {
		width: 100%;
		height: 100%;
	}
}

.grapesjs-popup-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.grapesjs-import-panels {
	background-color: white;
	padding: 15px;
	display: flex;
}

#btn-grapesjs-popup-discard {
	margin-left: 15px;
}

#btn-grapesjs-popup-save {
	margin-left: auto;
}

#btn-grapesjs-save-html {
	margin-left: auto;
}

.grapesjs-import-content {
	-ms-flex-preferred-size: 0;
	-ms-flex-positive: 1;
	-webkit-box-flex: 1;
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}

#grapesjs-popup {
	opacity: 0 !important;
	visibility: hidden;
	position: fixed;
	top: 60px;
	right: 0;
	bottom: 0;
	transform: scale(.5);
	background-color: rgba(black, .9);
	transition: all .3s ease-in-out;
	transform-origin: 50% 50%;
	z-index: 10;
	padding: 20px;

	&.active {
		opacity: 1 !important;
		visibility: visible;
		transform: scale(1);
	}
}

body {
	#grapesjs-popup {
		left: 280px;
	}

	&.active {
		#grapesjs-popup {
			left: 80px;
		}
	}
}

.cke_editor_grapesjs-ckeditor.cke_reset {
	height: 100%;

	.cke_top {
		min-height: 100px;
		-ms-flex-preferred-size: 0;
		-ms-flex-positive: 1;
		-webkit-box-flex: 1;
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
	}

	.cke_inner {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.cke_contents {
		height: 100% !important;
	}
}

.gjs-mdl-container {
	position: absolute;
}

#gjs-am-uploadFile {
	opacity: 0;
	padding: 150px 10px;
	width: 100%;
	box-sizing: border-box;
}

#gjs-form-upload {
	height: 325px;
	position: relative;
	margin-bottom: 15px;
	border: 2px dashed;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, .1);
	text-align: center;
}

.gjs-am-assets {
	height: 240px;
}

.gjs-am-close {
	display: none !important;
	visibility: hidden !important;
	opacity: 0 !important;
	pointer-events: none !important;
	user-select: none!important;
}

// End Css cho GrapesJS